In [122]:
import pandas as pd
import numpy as np
jeju_df = pd.read_csv("C:/Users/user/Downloads/제주특별자치도_아동급식카드가맹점현황_20220331.csv", encoding='cp949')

In [88]:
jeju_df

        행정시         가맹점명          전화번호                         주소     데이터기준일자
0       제주시        인디언썸머  064-678-4208    제주특별자치도 제주시 애월읍 애월로4길 9  2022-03-31
1      서귀포시     애월연어 안덕점  064-692-6607  제주특별자치도 서귀포시 안덕면 산록남로 684  2022-03-31
2       제주시  남가네설악추어탕도련점  064-702-0009        제주특별자치도 제주시 삼봉로 134  2022-03-31
3       제주시          레인원  064-702-0014        제주특별자치도 제주시 무근성7길 6  2022-03-31
4       제주시          권주가  064-702-0022         제주특별자치도 제주시 천수로 82  2022-03-31
...     ...          ...           ...                        ...         ...
18349   제주시     코끼리휴게소점빵           NaN         제주특별자치도 제주시 흥운길 73  2022-03-31
18350   제주시       화산2020           NaN         제주특별자치도 제주시 흥운길 85  2022-03-31
18351   제주시        이스방한상           NaN         제주특별자치도 제주시 흥운길 87  2022-03-31
18352   제주시          무용담           NaN         제주특별자치도 제주시 흥운길 91  2022-03-31
18353   제주시         예그리나           NaN         제주특별자치도 제주시 흥운길 93  2022-03-31

[18354 rows x 5 columns]

In [89]:
jeju_df['행정시'].unique()

array(['제주시', '서귀포시'], dtype=object)

# 과제: 데이터 처리하기 - 제주시 데이터
1. 행정시별로 몇 개의 데이터가 있는지 표기하기
2. 가맹점명을 가나다 순서(오름차순, 한글-영문-숫자-특문)으로 정렬하기
3. 전화번호에서 중간 번호가 600번대인 것과 700번대인 것 중 어느것이 많은지 확인하기
4. 각 주소를 각 길 단위로 남기기

In [90]:
jeju_df['행정시'].value_counts()

제주시     12931
서귀포시     5423
Name: 행정시, dtype: int64

In [91]:
jeju_df = jeju_df.drop(['데이터기준일자'], axis = 1)
jeju_df = jeju_df.drop(['행정시'], axis = 1)

In [92]:
jeju_df.index

RangeIndex(start=0, stop=18354, step=1)

In [93]:
jeju_df['주소'] = jeju_df['주소'].apply(lambda x: [x.split('시')[-1]] if '시' in x else x)

In [94]:
jeju_df

              가맹점명          전화번호               주소
0            인디언썸머  064-678-4208   [ 애월읍 애월로4길 9]
1         애월연어 안덕점  064-692-6607  [ 안덕면 산록남로 684]
2      남가네설악추어탕도련점  064-702-0009       [ 삼봉로 134]
3              레인원  064-702-0014       [ 무근성7길 6]
4              권주가  064-702-0022        [ 천수로 82]
...            ...           ...              ...
18349     코끼리휴게소점빵           NaN        [ 흥운길 73]
18350       화산2020           NaN        [ 흥운길 85]
18351        이스방한상           NaN        [ 흥운길 87]
18352          무용담           NaN        [ 흥운길 91]
18353         예그리나           NaN        [ 흥운길 93]

[18354 rows x 3 columns]

In [102]:
str(float('nan'))

'nan'

In [95]:
jeju_df['번대'] = '0'

In [96]:
type(jeju_df['번대'])

pandas.core.series.Series

In [103]:
jeju_df['번대'] = jeju_df['전화번호'].apply(lambda x: [x.split('-')[1]] if '-' in str(x) else x)

In [104]:
tmp = '064-702-0022'
tmp.split('-')[1]

'702'

In [105]:
type(jeju_df['전화번호'][1])

str

In [106]:
jeju_df['전화번호'][1].split('-')[1]

'692'

In [107]:
jeju_df

              가맹점명          전화번호               주소     번대
0            인디언썸머  064-678-4208   [ 애월읍 애월로4길 9]  [678]
1         애월연어 안덕점  064-692-6607  [ 안덕면 산록남로 684]  [692]
2      남가네설악추어탕도련점  064-702-0009       [ 삼봉로 134]  [702]
3              레인원  064-702-0014       [ 무근성7길 6]  [702]
4              권주가  064-702-0022        [ 천수로 82]  [702]
...            ...           ...              ...    ...
18349     코끼리휴게소점빵           NaN        [ 흥운길 73]    NaN
18350       화산2020           NaN        [ 흥운길 85]    NaN
18351        이스방한상           NaN        [ 흥운길 87]    NaN
18352          무용담           NaN        [ 흥운길 91]    NaN
18353         예그리나           NaN        [ 흥운길 93]    NaN

[18354 rows x 4 columns]

---
# 선생님 실습

In [123]:
df = jeju_df.copy()

In [124]:
df['행정시'].unique()

array(['제주시', '서귀포시'], dtype=object)

In [125]:
df['행정시'].count()

18354

In [126]:
pd.DataFrame(df['행정시'].value_counts()) # 각 요소별 개수

        행정시
제주시   12931
서귀포시   5423

In [127]:
df.sort_values('가맹점명') # 기본적인 오름차순

,행정시,가맹점명,전화번호,주소,데이터기준일자
13278,제주시,(사복)한라원장애인직업재활시설,064-799-9225,제주특별자치도 제주시 애월읍 하소로 747-23,2022-03-31
4897,제주시,(유)경화산업,064-743-2111,제주특별자치도 제주시 용담이동 2038,2022-03-31
5567,제주시,(유)섬이다,064-745-5008,제주특별자치도 제주시 서해안로 452,2022-03-31
5744,제주시,(유)아웃백제주점,064-746-1591,제주특별자치도 제주시 노형동 1288-5,2022-03-31
4421,서귀포시,(유)케이디에셋 담앤루 밀탑,064-739-6611,제주특별자치도 서귀포시 이어도로343번길 63,2022-03-31
...,...,...,...,...,...
16580,제주시,힘찬와플앤강한꼬치,NaN,제주특별자치도 제주시 신성로13길 17,2022-03-31
352,제주시,힘찬장어,064-711-1161,제주특별자치도 제주시 삼무로3길 32-1,2022-03-31
15521,제주시,힙앤롤,NaN,제주특별자치도 제주시 구좌읍 세송로 26,2022-03-31
17346,제주시,힛업,NaN,제주특별자치도 제주시 월랑로 9,2022-03-31
17808,제주시,힛잇업(HEAT IT UP),NaN,제주특별자치도 제주시 중앙로14길 6-1,2022-03-31

In [129]:
df['가맹점명'].apply(lambda x: x[0]).unique()

array(['인', '애', '남', '레', '권', '주', '바', '속', '만', '펠', '파', '호', '원',
       '대', '상', '미', '진', '내', '박', '하', '헬', '서', '태', '명', '경', '제',
       '농', '혼', '안', '우', '시', '고', '동', '산', '메', '가', '2', '거', '피',
       '킹', '수', '충', '맛', '빵', '숙', '광', '푸', '부', '써', '딜', '일', '다',
       '햇', '지', '라', '화', '차', '한', '신', '도', '돈', '김', '혜', '청', '오',
       '삼', '너', '사', '간', '영', '야', '아', '뽕', '국', '재', '자', '빠', '탐',
       '친', '샤', '버', '본', '맘', '녹', '학', '어', '개', '춤', '글', '감', '난',
       '끌', '볼', '추', '굽', '보', '모', '던', '정', '뚱', '행', '이', '터', '황',
       '용', '멍', '심', '넉', '갓', '면', '창', '북', '꼬', '옹', '홍', '현', '배',
       '낙', '마', '장', '억', '닥', '비', '요', '훈', '백', '싱', '해', '땅', '탁',
       '웰', '불', '토', '구', '맥', '뒷', '밥', '먹', '꾸', '설', '페', '몽', '더',
       '무', '복', '짱', '폭', '윈', '나', '꽃', '따', '교', '은', '스', '슬', '슈',
       '(', '에', '춘', '골', '금', '성', '괸', '굴', '좋', '머', '외', '올', '선',
       '맨', '함', '두', '샌', '랑', '힘', '조', '순', '달', '물', '봉', '누', '블',
       '그', '디', '별', '연', '웅', '항', '소', '즉', '닭', '쫑', '리', '탑', '천',
       '임', '여', '덕', '렛', '매', '흑', '홈', '뉴', '협', '예', '8', '초', '당',
       '돼', '담', '떡', '핵', '노', '즐', '강', '쉐', '투', '직', '준', '낭', '전',
       '몬', '느', '세', '궁', '월', '날', '루', 'B', '듀', '말', '논', '래', '썬',
       '꼴', '로', '휴', '똘', '죠', '뚜', '챈', '멕', '계', '홀', '포', '민', '팔',
       '티', '종', '등', '으', '방', '튀', '크', '프', '롯', '착', '짬', '암', '검',
       '문', '굿', '응', '또', '쨍', '돌', '회', '빈', '큰', '밀', '새', '둥', '곽',
       '송', '할', '양', '드', '팡', '횟', '귤', '잇', '통', '갱', '공', '치', '풀',
       '봄', '덮', '숨', '러', '육', '출', '촌', '꿀', '막', '갈', '평', '콩', '빨',
       '섬', '떼', '똑', '깜', '네', '와', '헤', '발', '왕', '최', '덤', '카', '싸',
       '베', '앙', '풍', '못', '약', '휘', '얼', '위', '왔', '실', '곰', '엠', '생',
       '뜨', '후', '희', '넝', '칠', '유', '젤', '언', '집', '기', '축', '흥', '편',
       '잔', '죽', '단', '역', '코', '쏭', '번', '삐', '둘', '쿠', '플', '벼', '쿡',
       '7', 'F', '톨', '관', '놀', '효', '뻘', '덩', '분', '건', '깡', '손', '온',
       '반', '꽁', '윤', '승', '퍼', '살', '꼭', '샐', '표', '목', '솔', '옥', '美',
       '맹', '옵', '의', '운', '찹', '징', '벽', '열', '중', '핏', '쉼', '접', 'P',
       '숯', '처', '옛', '돛', '울', '놈', '압', '형', '근', '각', '럭', '땡', '앞',
       '참', '츄', '철', '데', '케', '샘', '듬', '3', '꼼', '키', '엄', '윙', '절',
       '빽', '법', '엥', '을', '까', '곤', 'M', '엔', '텅', '갯', '십', '독', '과',
       '작', '숲', '향', '객', '테', '맑', '앤', '길', '찬', '곱', '필', '옆', '첨',
       '린', '율', '찌', '옐', '꿉', '저', '킴', '쉬', '니', '맵', '멜', '쭈', '몸',
       '갑', '0', '쇠', '늘', '떠', '엉', '군', '채', '웨', '체', '벤', '솜', '흙',
       '식', '짜', '쉘', '쓰', '쌈', '혁', '몰', '트', '삿', '허', '알', '섶', '뜰',
       '쌍', '돗', '깨', '괴', '밤', '클', '걸', '빌', '캡', '1', '6', '익', '쇼',
       '4', '띠', '커', '델', '범', '뷰', '샨', '틈', '색', '류', '브', '뿔', '쪼',
       '병', '줄', 'K', '꾹', 'C', '석', '칼', '텐', '족', '빛', '겸', '돔', '겐',
       '킨', '르', '엘', '템', '냉', '론', '좀', '둠', '찰', '꺼', '총', '챠', 'L',
       '록', '털', '램', '귀', '붐', '쎄', '뼈', '깐', '씨', '짚', '들', '겨', '쥴',
       '락', '탕', '9', '핸', 'D', '뽀', '타', '퓨', '즙', '콜', '붉', '얌', '히',
       '톡', '줌', '때', '쥬', '림', '되', '큐', '센', '솥', '탱', '곳', '볕', '패',
       '왓', '활', '규', '끼', '망', '쎌', '룸', '꿈', '움', '팟', '홋', '긴', '폼',
       '밈', '멈', '웬', '챨', '혹', '흠', '핫', '쁘', '딱', '낚', '味', '쑤', 'e',
       '팰', '칭', '얄', '짝', '팝', '찐', '텍', '벳', '벨', '컬', '뀨', '츠', '촘',
       '악', '웃', '룡', '점', '환', '묵', '꽈', '젬', '탄', '펭', '벌', '뱃', '뭉',
       '쵸', '캐', '컨', '폴', 'I', '택', '쩐', '찜', 'E', '섭', 'S', '빙', '콘',
       '뻐', '훔', '질', '냄', '완', '윗', '셀', '렌', '쌔', '뫼', '판', '헝', '곶',
       '휠', '킵', '음', '런', '쏘', '멧', '믿', '딕', '숟', '쎈', '낫', '겹', '힐',
       '옴', '뽈', '떳', 'T', '컵', '뙤', '슁', '욜', '뮤', '특', '빼', '견', '섯',
       '적', '쟁', '퐁', '랍', '읍', '쑥', '뿌', '쏠', '눈', '릴', '썸', '쯔', '멘',
       '높', '덴', '5', '꾼', '벵', '멋', '댓', '꿩', '굼', 'W', '롤', '밝', '젠',
       '겔', 'J', '셰', '뱅', '료', '캘', '닐', '쪽', '팥', '좌', '펄', 'G', '쉴',
       '샛', '샹', '콤', '팀', '핑', '쟝', 'l', '낮', '팜', '퀴', '갤', '변', '겟',
       '똥', '롸', '훌', '댜', '힌', '워', '쿵', '깊', '컴', '쌀', '옷', '윌', '팩',
       '람', '괜', '넙', '샷', '짠', '갬', 'c', '뷔', '눕', '걷', '란', '쿤', '닻',
       '뿐', '첫', '빅', '취', '틴', '멸', '앵', '곁', '염', '챙', '슌', '옳', '똣',
       '넘', '뜻', '앳', '퀸', '깔', '댄', '좁', '뜬', '핀', '팅', '칸', 'H', '혀',
       '뮈', '업', '능', '붕', '팍', '엣', '숑', '빗', '헛', '힙', '렐', '뚝', '맞',
       '톰', '앨', '깃', '밭', '쁠', '엑', '딤', '짐', '깅', '탭', 'm', '뤼', '릿',
       '캠', 'N', '끄', '볶', '셔', '촐', '롱', '넥', '잠', '펜', '낯', '랜', '결',
       '밍', '게', '앰', '턴', '쟈', '탤', '힛', '닌', '존', '봅', '잘', '텀', '콕',
       '돎', 'R', '뚠', '굄', '딩', '릇', '묘', '캣', '뵤', '있', 'A'],
      dtype=object)

In [130]:
'1'.isdigit()

True

In [151]:
'일'.isdigit()

False

In [152]:
'()'.isdigit()

False

In [153]:
'a'.isdigit()

False

In [131]:
'일'.isalpha()

True

In [156]:
'a'.isalpha()

True

In [162]:
'()'.isalnum()

False

In [163]:
'1'.isalnum()

True

In [161]:
'일'.isalnum()

True

In [164]:
'a'.isalnum()

True

In [134]:
'일'.isascii()

False

In [138]:
m = df['가맹점명'].apply(lambda x: x[0].isdigit()) # 숫자

In [139]:
df[m]

,행정시,가맹점명,전화번호,주소,데이터기준일자
41,제주시,24시국수회관,064-702-1162,제주특별자치도 제주시 남성로 122-1,2022-03-31
125,제주시,24시서울뼈감탕해장국,064-702-4689,제주특별자치도 제주시 신성로 96,2022-03-31
426,제주시,203안전한먹거리연구소,064-711-3203,제주특별자치도 제주시 선덕로 4,2022-03-31
447,제주시,24시얼큰시원생고기김치찌개외도점,064-711-3755,제주특별자치도 제주시 우정로 85,2022-03-31
460,제주시,8997버거,064-711-4212,제주특별자치도 제주시 용화로9길 5,2022-03-31
...,...,...,...,...,...
17520,제주시,183편의점,NaN,제주특별자치도 제주시 제주대학로 183,2022-03-31
17733,제주시,3파라솔,NaN,제주특별자치도 제주시 조천읍 함덕리 1009,2022-03-31
17849,제주시,204유부당,NaN,제주특별자치도 제주시 진군길 52,2022-03-31
17924,제주시,513텐동,NaN,제주특별자치도 제주시 테우해안로 46,2022-03-31
18202,제주시,2F cucina,NaN,제주특별자치도 제주시 한림읍 한림로 450,2022-03-31

In [140]:
df_num = df[m].sort_values('가맹점명')

In [142]:
m2 = df['가맹점명'].apply(lambda x: x[0].isascii() if x[0].isalpha() else False)

In [144]:
df_alpha = df[m2].sort_values('가맹점명')

In [145]:
df_alpha

,행정시,가맹점명,전화번호,주소,데이터기준일자
18212,제주시,AND YU(앤드유),NaN,제주특별자치도 제주시 한림읍 한림로 518,2022-03-31
14924,서귀포시,BADABARA,NaN,제주특별자치도 서귀포시 중문관광로72번길 29-51,2022-03-31
651,제주시,BBQ신연동점,064-711-9256,제주특별자치도 제주시 연화로1길 15,2022-03-31
6989,제주시,BBQ이도초교점,064-751-8291,제주특별자치도 제주시 청사로 86,2022-03-31
10516,제주시,BBQ치킨,064-782-8814,제주특별자치도 제주시 조천읍 함덕리 1252-2,2022-03-31
...,...,...,...,...,...
13960,서귀포시,centro,070-8614-6245,제주특별자치도 서귀포시 태평로 449,2022-03-31
13780,제주시,e 좋은마트,070-4644-9915,제주특별자치도 제주시 도련1길 6,2022-03-31
6610,제주시,e-좋은마트,064-749-0009,제주특별자치도 제주시 연사길 91,2022-03-31
13141,제주시,las tortas,064-799-5100,제주특별자치도 제주시 광양11길 8-1,2022-03-31
16084,제주시,makk,NaN,제주특별자치도 제주시 동문로4길 9,2022-03-31

In [146]:
m3 = df['가맹점명'].apply(lambda x: False if x[0].isalpha() else not x[0].isdigit()) # 특수문자

In [147]:
df_not_alpha = df[m3].sort_values('가맹점명')

In [148]:
df_not_alpha

,행정시,가맹점명,전화번호,주소,데이터기준일자
13278,제주시,(사복)한라원장애인직업재활시설,064-799-9225,제주특별자치도 제주시 애월읍 하소로 747-23,2022-03-31
4897,제주시,(유)경화산업,064-743-2111,제주특별자치도 제주시 용담이동 2038,2022-03-31
5567,제주시,(유)섬이다,064-745-5008,제주특별자치도 제주시 서해안로 452,2022-03-31
5744,제주시,(유)아웃백제주점,064-746-1591,제주특별자치도 제주시 노형동 1288-5,2022-03-31
4421,서귀포시,(유)케이디에셋 담앤루 밀탑,064-739-6611,제주특별자치도 서귀포시 이어도로343번길 63,2022-03-31
...,...,...,...,...,...
2996,서귀포시,(주)호텔롯데 롯데호텔제주 델리카한스,064-731-1000,제주특별자치도 서귀포시 중문관광로72번길 35,2022-03-31
2998,서귀포시,(주)호텔롯데델리카한스/은련,064-731-1000,제주특별자치도 서귀포시 중문관광로72번길 35,2022-03-31
6522,제주시,(주)후사부,064-748-6311,제주특별자치도 제주시 신대로14길 35,2022-03-31
6523,제주시,(주)후사부,064-748-6311,제주특별자치도 제주시 신대로14길 41,2022-03-31
1625,제주시,(파인힐)솔동산,064-722-3023,제주특별자치도 제주시 중앙로 57,2022-03-31

In [165]:
def check_spl(x):
    if x[0].isalpha():
        return False
    else:
        return not x[0].isdigit()

In [ ]:
def check_spl(x):
    if x[0].isalpha() or x[0].isdigit():
        return False
    else:
        return True

In [166]:
m4 = df['가맹점명'].apply(lambda x: check_spl(x))

In [169]:
df[m4]

,행정시,가맹점명,전화번호,주소,데이터기준일자
288,제주시,(주)파리크라상파리바게뜨제주공항점,064-711-0741,제주특별자치도 제주시 공항로 2,2022-03-31
301,제주시,(주)뚱보네,064-711-0977,제주특별자치도 제주시 정존11길 22,2022-03-31
452,제주시,(주)뚱보네,064-711-3953,제주특별자치도 제주시 정존11길 22,2022-03-31
571,제주시,(주)삼다도횟집,064-711-7080,제주특별자치도 제주시 서해안로 572,2022-03-31
572,제주시,(주)뉴월드마트로연동점,064-711-7151,제주특별자치도 제주시 선반로8길 5-7,2022-03-31
...,...,...,...,...,...
17453,제주시,(주)한일고속,NaN,제주특별자치도 제주시 임항로 111,2022-03-31
17734,제주시,(주)소노인터내셔널 제주지점,NaN,제주특별자치도 제주시 조천읍 함덕리 274,2022-03-31
17850,제주시,(주)일출축산,NaN,제주특별자치도 제주시 진남로 21,2022-03-31
17907,제주시,(주)두루두루,NaN,제주특별자치도 제주시 탑동로2길 3,2022-03-31
18065,제주시,(주)웨일빌리지,NaN,제주특별자치도 제주시 한림읍 귀덕5길 34,2022-03-31

In [175]:
df_spl = df[m4].sort_values('가맹점명')

In [176]:
m5 = df['가맹점명'].apply(lambda x: not x[0].isascii() if x[0].isalpha() else False)

In [177]:
df[m5]

        행정시         가맹점명          전화번호                         주소     데이터기준일자
0       제주시        인디언썸머  064-678-4208    제주특별자치도 제주시 애월읍 애월로4길 9  2022-03-31
1      서귀포시     애월연어 안덕점  064-692-6607  제주특별자치도 서귀포시 안덕면 산록남로 684  2022-03-31
2       제주시  남가네설악추어탕도련점  064-702-0009        제주특별자치도 제주시 삼봉로 134  2022-03-31
3       제주시          레인원  064-702-0014        제주특별자치도 제주시 무근성7길 6  2022-03-31
4       제주시          권주가  064-702-0022         제주특별자치도 제주시 천수로 82  2022-03-31
...     ...          ...           ...                        ...         ...
18349   제주시     코끼리휴게소점빵           NaN         제주특별자치도 제주시 흥운길 73  2022-03-31
18350   제주시       화산2020           NaN         제주특별자치도 제주시 흥운길 85  2022-03-31
18351   제주시        이스방한상           NaN         제주특별자치도 제주시 흥운길 87  2022-03-31
18352   제주시          무용담           NaN         제주특별자치도 제주시 흥운길 91  2022-03-31
18353   제주시         예그리나           NaN         제주특별자치도 제주시 흥운길 93  2022-03-31

[18048 rows x 5 columns]

In [178]:
df_kr = df[m5].sort_values('가맹점명')

In [179]:
# 한-영-숫자-특문
df_res = pd.concat([df_kr, df_alpha, df_num, df_spl])

In [174]:
df_res

,행정시,가맹점명,전화번호,주소,데이터기준일자
6553,제주시,味s7,064-748-8007,제주특별자치도 제주시 일주서로 7831,2022-03-31
1641,제주시,美양양,064-722-3332,제주특별자치도 제주시 도남로 62,2022-03-31
13905,서귀포시,가가멜,070-7798-2360,제주특별자치도 서귀포시 문부로 8,2022-03-31
14226,서귀포시,가가호호,NaN,제주특별자치도 서귀포시 남원읍 태위로 87,2022-03-31
9007,서귀포시,가고파,064-762-5331,제주특별자치도 서귀포시 중정로91번길 25-2,2022-03-31
...,...,...,...,...,...
2996,서귀포시,(주)호텔롯데 롯데호텔제주 델리카한스,064-731-1000,제주특별자치도 서귀포시 중문관광로72번길 35,2022-03-31
2998,서귀포시,(주)호텔롯데델리카한스/은련,064-731-1000,제주특별자치도 서귀포시 중문관광로72번길 35,2022-03-31
6522,제주시,(주)후사부,064-748-6311,제주특별자치도 제주시 신대로14길 35,2022-03-31
6523,제주시,(주)후사부,064-748-6311,제주특별자치도 제주시 신대로14길 41,2022-03-31
1625,제주시,(파인힐)솔동산,064-722-3023,제주특별자치도 제주시 중앙로 57,2022-03-31