# OpenPyXL 패키지
* 파이썬을 이용한 엑셀 파일 편집 패키지
* 양식, 이미지, 함수 등을 유지할 수 있음
!pip install openpyxl  
import openpyxl  
wb = openpyxl.load_workbook('file.xlsx') # 파일 열기
sheet_name = wb.get_sheet_names() # 시트 이름 읽기
sheet

In [1]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\programdata\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in c:\programdata\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [3]:
import pandas as pd

In [4]:
df = pd.read_excel("C:/Users/user/Downloads/미니프로젝트 (1)/미니프로젝트-쇼핑몰 실습데이터.xlsx")

In [5]:
df

,주문번호,업체명,상품명,제조사,주문수량,판매금액,결제방법,주문일자,처리상태,초도상품,제작문구 내역,할부기간
0,191213170236874,지니,eHBM셀파수학교실 비닐봉투-1세트 100장입,HB,1,5000,신용카드,2019-12-13 17:03:37,구매확정,N,NaN,NaN
1,191216100347429,지니,eHBM셀파수학교실 비닐봉투-1세트 100장입,HB,1,5000,신용카드,2019-12-16 10:04:50,구매확정,N,NaN,NaN
2,191216100347429,지니,eHBM셀파수학교실 삼색볼펜-1세트 50개입,HB,3,67500,신용카드,2019-12-16 10:04:50,구매확정,N,NaN,NaN
3,191216173241622,지니,eHBM셀파수학교실 회원용 리플렛-1세트 50권입,HB,2,30000,신용카드,2019-12-16 17:33:43,구매확정,N,NaN,NaN
4,191216173241622,지니,eHBM셀파수학교실-학습계통도(중등 5종),HB,1,750,신용카드,2019-12-16 17:33:43,구매확정,N,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
218596,221108104041264,에이스디포,[스마트 HBE*초도] 입체 액자형 현판,에이스디포,1,35000,웰컴마일,2022-11-08 10:38:21,결제완료,Y,NaN,NaN
218597,221108104041264,에이스디포,[스마트 HBE*초도] 아크릴 사인,HB,1,26900,웰컴마일,2022-11-08 10:38:21,결제완료,Y,NaN,NaN
218598,221108104536307,에이스디포,[스마트 HBM] 아크릴 사인,HB,1,26900,신 + 포,2022-11-08 10:43:15,배송준비,N,NaN,NaN
218599,221108104735216,다우기술,[스타벅스] 아이스 카페 아메리카노 T,스타벅스,1,4050,포인트,2022-11-08 10:45:14,배송완료,N,NaN,NaN
218600,221108105148171,다우기술,[특별한 크리스마스] 2차-신세계 상품권 모바일 교환권-1만원권,신세계,17,161500,신용카드,2022-11-08 10:49:28,배송완료,N,NaN,NaN

In [7]:
df = pd.read_excel("C:/Users/user/Downloads/미니프로젝트 (1)/미니프로젝트-쇼핑몰 실습데이터.xlsx", sheet_name = 'Sheet1')

In [8]:
df

Empty DataFrame
Columns: [hello!]
Index: []

In [9]:
df.loc[15] = 'world'

In [10]:
df

   hello!
15  world

In [12]:
df.to_excel("C:/Users/user/Downloads/미니프로젝트 (1)/미니프로젝트-쇼핑몰 실습데이터.xlsx", sheet_name = 'Sheet1')
# 원래 있던 내용이 날아갈 수 있는 위험이 있음

In [13]:
import openpyxl

In [32]:
wb = openpyxl.open("C:/Users/user/Downloads/미니프로젝트(2)/미니프로젝트-쇼핑몰 실습데이터.xlsx")

In [33]:
wb.get_sheet_names()

C:\Users\user\AppData\Local\Temp\ipykernel_2352\1212622292.py:1: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).
  wb.get_sheet_names()

['2019-01-01 ~ 2019-12-31', 'Sheet1']

In [34]:
sheet_name = wb.get_sheet_names()

C:\Users\user\AppData\Local\Temp\ipykernel_2352\3646580212.py:1: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).
  sheet_name = wb.get_sheet_names()

In [35]:
for i in sheet_name:
    print(i)

2019-01-01 ~ 2019-12-31
Sheet1

In [36]:
ws = wb.get_sheet_by_name('Sheet1')

C:\Users\user\AppData\Local\Temp\ipykernel_2352\785337679.py:1: DeprecationWarning: Call to deprecated function get_sheet_by_name (Use wb[sheetname]).
  ws = wb.get_sheet_by_name('Sheet1')

In [37]:
ws

In [38]:
pd.DataFrame(ws.values)

       0
0  hello

In [39]:
ws['A1'].value

'hello'

In [40]:
img = openpyxl.drawing.image.Image("C:/Users/user/Downloads/다운로드.png")
img.width = 320
img.height = 240
ws.add_image(img, 'A15') # 이미지 붙여넣기

In [42]:
wb.save('C:/Users/user/Downloads/output.xlsx') # 엑셀 저장

In [ ]:
# ws.close()

In [43]:
ws = wb.active

In [44]:
ws # 맨처음 시트가 불러와짐

In [45]:
import pandas as pd

In [63]:
df = pd.read_excel("C:/Users/user/Downloads/미니프로젝트(2)/미니프로젝트-쇼핑몰 실습데이터.xlsx")

In [64]:
df

,Unnamed: 0,0,1,2,3,4,5,6,7,8,9
0,0,주문번호,업체명,상품명,제조사,주문수량,판매금액,결제방법,주문일자,처리상태,초도상품
1,1,200204183750476,지니,HBE메모장(50개),HB,1,20000,신용카드,2020-02-04 18:39:13,구매확정,N
2,2,200204183750476,지니,HBE회비봉투-1세트 100장입,HB,1,5000,신용카드,2020-02-04 18:39:13,구매확정,N
3,3,200204183750476,지니,"HBEHB스마터, 다북스~ 8P 브로셔-1세트 100부",HB,1,26000,신용카드,2020-02-04 18:39:13,구매확정,N
4,4,200204183750476,지니,HBE레벨테스트지(Placement Test)-정밀(10개),HB,30,81000,신용카드,2020-02-04 18:39:13,구매확정,N
...,...,...,...,...,...,...,...,...,...,...,...
156,156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158,158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,159,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
df.to_excel('./output2.xlsx')

In [66]:
ws['A1'].value

In [67]:
ws

In [68]:
ws_col = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L']

In [69]:
for c in range(len(df.columns)):
    for i in range(len(df.index)):
        ws[f'{ws_col[c]}{i+1}'] = df.iloc[i, c]

In [70]:
df

,Unnamed: 0,0,1,2,3,4,5,6,7,8,9
0,0,주문번호,업체명,상품명,제조사,주문수량,판매금액,결제방법,주문일자,처리상태,초도상품
1,1,200204183750476,지니,HBE메모장(50개),HB,1,20000,신용카드,2020-02-04 18:39:13,구매확정,N
2,2,200204183750476,지니,HBE회비봉투-1세트 100장입,HB,1,5000,신용카드,2020-02-04 18:39:13,구매확정,N
3,3,200204183750476,지니,"HBEHB스마터, 다북스~ 8P 브로셔-1세트 100부",HB,1,26000,신용카드,2020-02-04 18:39:13,구매확정,N
4,4,200204183750476,지니,HBE레벨테스트지(Placement Test)-정밀(10개),HB,30,81000,신용카드,2020-02-04 18:39:13,구매확정,N
...,...,...,...,...,...,...,...,...,...,...,...
156,156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158,158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,159,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# 가상환경 사용하기

## conda 가상환경
* 가상환경 생성, 활성화, 비활성화, 제거
> conda create -n (이름) python=(버전)  
> conda active (이름)  
> conda deactive (이름)  
> conda env remove -n (이름)  

패키지 설치시 conda 패키지 관리자를 이용해야 함  
 
## venv 가상환경
* 가상환경 생성, 활성화, 비활성화, 제거
> python -m venv (이름)  
(가상환경 이름)/Scripts 경로로 이동  

activate.bat (cmd), Activate.ps1 (powershell) 실행

tensorflow, 등 다양한 패키지와 충돌하는 아이들은 애초에 가상환경을 만들어서 실행하는 것이 유리함.