In [1]:
import pandas as pd
import numpy as np
import sklearn
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_recall_fscore_support
from sklearn.metrics import accuracy_score
from scipy.optimize import minimize
from sklearn.preprocessing import StandardScaler

from sklearn.tree import DecisionTreeClassifier
from sklearn.datasets import load_breast_cancer
# 값이 0 또는 1 이므로 로지스틱 회귀를 사용함

In [2]:
df = pd.read_csv("C:/Users/rltmdals/Downloads/user_action_10days.csv")

In [3]:
# len(df.user_id.unique())
# 30960

df_fillnan = df.fillna(999)
df_fillnan

,user_id,day1,day2,day3,day4,day5,day6,day7,day8,day9,day10,subscribe
0,fa2ad653-e7d9-4250-8db0-c62c962ccd3f,SMSMFEESMSMSSMSMJEFEFJSMSMSSMSMSMSFJESJFEJSGEH...,SMSMSJFESSMSEFEEJJFEI,999,999,SEJFSMSMSMSJJJJEFSFEJSMSMSSMFESMS,ELLLLLLLLLLLLKKKKKSMSMSEJFSJEFSMSMSSSSSMSMSEJF...,SMSMJFEEJFSMSMSSMSSMSMSEJFSFEJSMSMSSSMSMSEJFSF...,999,999,999,0
1,695dbd71-59ee-427e-aa64-4ff7afd1e519,E,999,999,999,999,999,999,999,999,999,0
2,695016e2-4c93-4d57-868e-a2b218519b6c,SMSMSSMSMSSMSMSMSFJKKKEKKKKSJFESMSMS,999,999,999,999,999,999,999,999,999,0
3,e7d6135d-3b19-4655-893d-23adb79d227b,IJJJJIJJJJJJJJIJJJLLJJJJIGJJFMMMEFEE,999,EKKKKKKLJFMMMEELELFELLEJJJJJJEJJIJLLLFIJJJJIJJ...,ELELLFEIJJIJJJJJJJJJJJJJLIJJJJJJIFEJFMMM,EJFMMEJFMMMEFILIFIILIIEIFIIIEEIG,999,EJGJ,999,999,999,0
4,6b8a2ed4-5eb7-4530-91ec-512c03907a1a,EFL,SMSSMSSMSMSSMSMSSMEFS,EFSMSMSSMSMSSMEFSMSMSMSSMFISSMLLELLLFSMFESMS,SMEFSSSMSSMFESMSMSMSSSMEFSSMEFSSMFESMSMSMSMSMS...,SSMSMSMSMSSMSMSMSMSSMSMSMSSMSMSMSSSSMSSSMFESMEFSS,SMSSMEJJJFSSMEFS,999,999,999,999,0
...,...,...,...,...,...,...,...,...,...,...,...,...
30955,fff79005-40ab-4073-8fd1-5276afdb03ae,999,999,999,999,999,999,999,999,999,999,0
30956,fffb36b9-7ba5-406d-9350-9d8518b6f4f5,999,999,999,999,999,999,999,999,999,999,0
30957,fffba86e-ed12-4fe2-9ad6-9078f19b450e,999,999,999,999,999,999,999,999,999,999,0
30958,fffdb3c4-d666-4516-92f7-c6f5bd9721d4,999,999,999,999,999,999,999,999,999,999,0
30959,fffff4df-f3eb-4d39-8ce7-c503a7c20e24,999,999,999,999,999,999,999,999,999,999,0

In [4]:
str_expr = "(day1 != 999) or \
    (day2 != 999) or \
    (day3 != 999) or \
    (day4 != 999) or \
    (day5 != 999) or \
    (day6 != 999) or \
    (day7 != 999) or \
    (day8 != 999) or \
    (day9 != 999) or \
    (day10 != 999)" 
df_q = df_fillnan.query(str_expr)
df_q
# nan값 처리, 모두 nan값인거 뺌
# (4165, 12)

,user_id,day1,day2,day3,day4,day5,day6,day7,day8,day9,day10,subscribe
0,fa2ad653-e7d9-4250-8db0-c62c962ccd3f,SMSMFEESMSMSSMSMJEFEFJSMSMSSMSMSMSFJESJFEJSGEH...,SMSMSJFESSMSEFEEJJFEI,999,999,SEJFSMSMSMSJJJJEFSFEJSMSMSSMFESMS,ELLLLLLLLLLLLKKKKKSMSMSEJFSJEFSMSMSSSSSMSMSEJF...,SMSMJFEEJFSMSMSSMSSMSMSEJFSFEJSMSMSSSMSMSEJFSF...,999,999,999,0
1,695dbd71-59ee-427e-aa64-4ff7afd1e519,E,999,999,999,999,999,999,999,999,999,0
2,695016e2-4c93-4d57-868e-a2b218519b6c,SMSMSSMSMSSMSMSMSFJKKKEKKKKSJFESMSMS,999,999,999,999,999,999,999,999,999,0
3,e7d6135d-3b19-4655-893d-23adb79d227b,IJJJJIJJJJJJJJIJJJLLJJJJIGJJFMMMEFEE,999,EKKKKKKLJFMMMEELELFELLEJJJJJJEJJIJLLLFIJJJJIJJ...,ELELLFEIJJIJJJJJJJJJJJJJLIJJJJJJIFEJFMMM,EJFMMEJFMMMEFILIFIILIIEIFIIIEEIG,999,EJGJ,999,999,999,0
4,6b8a2ed4-5eb7-4530-91ec-512c03907a1a,EFL,SMSSMSSMSMSSMSMSSMEFS,EFSMSMSSMSMSSMEFSMSMSMSSMFISSMLLELLLFSMFESMS,SMEFSSSMSSMFESMSMSMSSSMEFSSMEFSSMFESMSMSMSMSMS...,SSMSMSMSMSSMSMSMSMSSMSMSMSSMSMSMSSSSMSSSMFESMEFSS,SMSSMEJJJFSSMEFS,999,999,999,999,0
...,...,...,...,...,...,...,...,...,...,...,...,...
4160,2f89514e-179b-4617-a701-d9898fbdb8bb,SMSMFEESMKFEESMSMS,999,999,999,999,999,999,999,999,999,0
4161,7a96b199-bc6b-477d-98b7-53da66823d98,S,999,999,999,999,999,999,999,999,999,0
4162,809833f7-cdcb-4842-b200-e00d8ca4adc7,SMSEJFLSMSMSMSSMSMEFSMEFSMSMSSMFE,999,999,999,999,999,999,999,999,999,0
4163,dfa237f6-2b3c-4659-98a4-0dc300dee64d,EFEEIFIMIJEFSEFSEFSFESFESSMGEFHSSMSSMSMEFSMMMSMSS,999,999,999,999,999,999,999,999,999,0
4164,c77b53d9-a7e3-491b-958a-67548055b671,SMSELLLLLFSMSFE,999,999,999,999,999,999,999,999,999,0

In [5]:
df_lenq = df_q.copy()

In [6]:
def str_len(x):
    if type(x) == str:
        return len(x)
    else:
        return 0

col_list = ['day1', 'day2', 'day3', 'day4', 'day5', 'day6', 'day7', 'day8', 'day9', 'day10']
for col in col_list:
    df_lenq[col] = df_lenq[col].apply(lambda x: str_len(x))

In [7]:
df_lenq

,user_id,day1,day2,day3,day4,day5,day6,day7,day8,day9,day10,subscribe
0,fa2ad653-e7d9-4250-8db0-c62c962ccd3f,85,21,0,0,33,66,82,0,0,0,0
1,695dbd71-59ee-427e-aa64-4ff7afd1e519,1,0,0,0,0,0,0,0,0,0,0
2,695016e2-4c93-4d57-868e-a2b218519b6c,36,0,0,0,0,0,0,0,0,0,0
3,e7d6135d-3b19-4655-893d-23adb79d227b,36,0,62,40,32,0,4,0,0,0,0
4,6b8a2ed4-5eb7-4530-91ec-512c03907a1a,3,21,44,80,49,16,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
4160,2f89514e-179b-4617-a701-d9898fbdb8bb,18,0,0,0,0,0,0,0,0,0,0
4161,7a96b199-bc6b-477d-98b7-53da66823d98,1,0,0,0,0,0,0,0,0,0,0
4162,809833f7-cdcb-4842-b200-e00d8ca4adc7,33,0,0,0,0,0,0,0,0,0,0
4163,dfa237f6-2b3c-4659-98a4-0dc300dee64d,49,0,0,0,0,0,0,0,0,0,0
4164,c77b53d9-a7e3-491b-958a-67548055b671,15,0,0,0,0,0,0,0,0,0,0

In [8]:
day = df_lenq[['day1', 'day2', 'day3', 'day4', 'day5', 'day6', 'day7', 'day8', 'day9', 'day10']]
sub = df_lenq[['subscribe']]

# train / test 분리하기
train_features, test_features, train_labels, test_labels = train_test_split(day, sub, test_size=0.25,random_state=0)

# 모델 생성 및 평가하기
model = LogisticRegression(random_state=0)  
model.fit(train_features, train_labels.values.ravel())

#정확도
print(model.score(train_features, train_labels)) # train
print(model.score(test_features, test_labels)) # test

# cmtx
Y_pred=model.predict(test_features)
cmtx = pd.DataFrame(
    confusion_matrix(test_labels,Y_pred, labels=[1, 0]), 
    index=['true:purchased(1)', 'true:not purchased(0)'], 
    columns=['pred:purchased(1)', 'pred:not purchased(0)']
)
print(accuracy_score(Y_pred, test_labels))
cmtx

0.7880243355747678
0.7984644913627639
0.7984644913627639

                       pred:purchased(1)  pred:not purchased(0)
true:purchased(1)                     54                    176
true:not purchased(0)                 34                    778

In [9]:
print(model.coef_)

[[0.00123227 0.00191666 0.00056951 0.00203619 0.00036524 0.00391351
  0.00230556 0.00854675 0.01042121 0.00790689]]

In [10]:
# 기본
from scipy.optimize import minimize
prob1=model.predict_proba(train_features)[:,1]
prob1
def objective_func(cutoff):
    
    Y_pred_new_cutoff = [1 if i > cutoff else 0 for i in prob1]

    return(1-accuracy_score(train_labels,Y_pred_new_cutoff))

opt_res = minimize(objective_func, 1, method='nelder-mead', options={'xatol': 1e-8, 'disp': True})

print("cutoff point(최적화 솔루션):", opt_res.x)
print("정확도(accuracy):", 1-opt_res.fun)

Optimization terminated successfully.
         Current function value: 0.195325
         Iterations: 31
         Function evaluations: 80
cutoff point(최적화 솔루션): [0.3125]
정확도(accuracy): 0.8046749919948767