# 데이터와 정보의 차이
* 데이터(data)
    * 단순히 모아놓은 자료의 총칭
    * 별도의 의미가 없는 기록에 그침
    * 데이터는 분석이 불가능하다
    * 기온, 인구수, 방문기록 등

* 정보(information)
    * 데이터를 가공해 특별한 목적을 띤다
    * 분석이 가능한 것이 정보
    * 연 평균 기온, 특정 지역의 전입/전출 기록, 랜드마크별 방문기록

# 데이터의 전처리
* 데이터는 기본적으로 누락, 오차, 형태에 맞지 않는 값 등의 문제가 있다
* -> 데이터 전처리를 통해 해당 요소 제거 가능
    * 데이터 전처리의 종류
    * 데이터 클리닝
    * 데이터 통합
    * 데이터 변환
    * 데이터 축소
    * 데이터 이산화
    * 결측치 및 이상치 처리
    * 일관성 있는 데이터로 변환 (표준화, 정규화)

# 데이터 클리닝
* 중복 데이터 삭제
* 관련 없는 데이터 삭제
* 구조적 문제 수정
    * 대소문자 일치
    * NA 표기 일치
* 이상치(outlier) 처리
* 누락(NA) 데이처 처리
* 수정된 데이터 평가

In [3]:
import pandas as pd

In [40]:
df = pd.read_excel("C:/Users/user/Downloads/RNAseq_result.xlsx")

In [41]:
df

,Unnamed: 0,target_id,WT1,WT2,WT3,Treat1,Treat2,Treat3,Treat4,Treat5,Treat6
0,0,ENSMUST00000177564.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,ENSMUST00000196221.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,ENSMUST00000179664.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,ENSMUST00000178537.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,ENSMUST00000178862.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
109277,109277,ENSMUST00000181902.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109278,109278,ENSMUST00000181878.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109279,109279,ENSMUST00000201504.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109280,109280,ENSMUST00000200975.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109281,109281,ENSMUST00000202689.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [42]:
df.head(2)

,Unnamed: 0,target_id,WT1,WT2,WT3,Treat1,Treat2,Treat3,Treat4,Treat5,Treat6
0,0,ENSMUST00000177564.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,ENSMUST00000196221.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [43]:
df.tail(30)

,Unnamed: 0,target_id,WT1,WT2,WT3,Treat1,Treat2,Treat3,Treat4,Treat5,Treat6
109252,109252,ENSMUST00000187981.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
109253,109253,ENSMUST00000169610.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
109254,109254,ENSMUST00000203478.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
109255,109255,ENSMUST00000180736.2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
109256,109256,ENSMUST00000194725.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
109257,109257,ENSMUST00000191184.2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
109258,109258,ENSMUST00000191957.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
109259,109259,ENSMUST00000194983.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
109260,109260,ENSMUST00000193068.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
109261,109261,ENSMUST00000181583.3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
109262,109262,ENSMUST00000181459.2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
109263,109263,ENSMUST00000201472.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
109264,109264,ENSMUST00000203119.1,0.391729,0.366172,1.107410,1.084320,0.914316,0.106279,0.122030,0.115507,0.571306
109265,109265,ENSMUST00000202716.1,0.000000,0.000000,0.000000,0.073928,0.000000,0.000000,0.000000,0.000000,0.000000
109266,109266,ENSMUST00000180724.2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
109267,109267,ENSMUST00000201731.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
109268,109268,ENSMUST00000201265.1,0.000000,0.000000,0.346987,0.000000,0.000000,0.000000,0.454928,0.000000,0.023695
109269,109269,ENSMUST00000215012.1,0.000000,0.000000,0.000000,1.421800,0.000000,0.000000,0.000000,0.000000,0.000000
109270,109270,ENSMUST00000201986.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
109271,109271,ENSMUST00000215596.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
109272,109272,ENSMUST00000202219.1,0.000000,0.000000,0.000000,0.000000,0.019346,0.006759,0.000000,0.000000,0.000000
109273,109273,ENSMUST00000200997.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
109274,109274,ENSMUST00000202014.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
109275,109275,ENSMUST00000195861.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
109276,109276,ENSMUST00000200809.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
109277,109277,ENSMUST00000181902.2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
109278,109278,ENSMUST00000181878.2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
109279,109279,ENSMUST00000201504.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
109280,109280,ENSMUST00000200975.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
109281,109281,ENSMUST00000202689.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

# 실습
1. 의미없는 데이터를 제거하기
2. 유전자 발현이 있는 데이터만 남기기 (모두 0인 값 제거)
3. Treat 1-4, 3-6은 비슷한 데이터이므로 평균값만 남기기

In [66]:
df2 = df.copy()

In [67]:
type(df2)

pandas.core.frame.DataFrame

In [68]:
df2.dropna() #NA, 결측치를 제거함
# (how="all")를 추가하면 모든 값이 NA인 값만 제거함.

,Unnamed: 0,target_id,WT1,WT2,WT3,Treat1,Treat2,Treat3,Treat4,Treat5,Treat6
0,0,ENSMUST00000177564.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,ENSMUST00000196221.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,ENSMUST00000179664.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,ENSMUST00000178537.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,ENSMUST00000178862.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
109277,109277,ENSMUST00000181902.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109278,109278,ENSMUST00000181878.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109279,109279,ENSMUST00000201504.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109280,109280,ENSMUST00000200975.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109281,109281,ENSMUST00000202689.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [69]:
import numpy as np
df2 = df2.replace(0, np.NaN)

In [71]:
df2

,Unnamed: 0,target_id,WT1,WT2,WT3,Treat1,Treat2,Treat3,Treat4,Treat5,Treat6
0,NaN,ENSMUST00000177564.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,ENSMUST00000196221.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,ENSMUST00000179664.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,ENSMUST00000178537.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,ENSMUST00000178862.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
109277,109277.0,ENSMUST00000181902.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109278,109278.0,ENSMUST00000181878.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109279,109279.0,ENSMUST00000201504.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109280,109280.0,ENSMUST00000200975.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109281,109281.0,ENSMUST00000202689.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
df2 = df2.dropna(subset = ['WT1','WT2','WT3','Treat1','Treat2','Treat3','Treat4','Treat5','Treat6'], how='all')

In [77]:
df2.tail(30)

,Unnamed: 0,target_id,WT1,WT2,WT3,Treat1,Treat2,Treat3,Treat4,Treat5,Treat6
109128,109128.0,ENSMUST00000185325.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.002673
109130,109130.0,ENSMUST00000186812.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.012395
109132,109132.0,ENSMUST00000031488.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.020294
109133,109133.0,ENSMUST00000185932.1,0.011871,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109140,109140.0,ENSMUST00000173935.1,NaN,NaN,NaN,NaN,NaN,NaN,0.177673,0.168461,0.183953
109141,109141.0,ENSMUST00000173277.1,NaN,NaN,NaN,0.036304,NaN,NaN,NaN,NaN,NaN
109145,109145.0,ENSMUST00000120085.1,0.168427,0.251532,0.461221,NaN,NaN,NaN,NaN,NaN,0.221383
109151,109151.0,ENSMUST00000099736.3,0.312506,NaN,0.218607,0.218786,NaN,NaN,NaN,0.177952,0.199255
109154,109154.0,ENSMUST00000217387.1,0.060090,0.089962,0.078744,0.082920,0.043149,0.065360,NaN,NaN,0.078290
109160,109160.0,ENSMUST00000188615.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.043686
109164,109164.0,ENSMUST00000172970.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.060429,NaN
109166,109166.0,ENSMUST00000176925.1,NaN,NaN,NaN,0.627744,NaN,NaN,0.279347,NaN,NaN
109172,109172.0,ENSMUST00000117091.1,NaN,NaN,NaN,0.135081,0.070095,2.224400,1.581060,2.417470,0.253070
109174,109174.0,ENSMUST00000189434.1,NaN,NaN,NaN,1.396620,NaN,NaN,NaN,NaN,NaN
109191,109191.0,ENSMUST00000173536.1,NaN,NaN,NaN,NaN,0.077534,NaN,NaN,NaN,NaN
109194,109194.0,ENSMUST00000150506.1,NaN,NaN,NaN,0.253000,NaN,NaN,NaN,NaN,NaN
109195,109195.0,ENSMUST00000186842.1,0.001382,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109197,109197.0,ENSMUST00000125315.2,0.128521,NaN,NaN,NaN,NaN,0.139203,NaN,NaN,NaN
109200,109200.0,ENSMUST00000121135.2,NaN,NaN,NaN,0.534463,NaN,NaN,NaN,NaN,NaN
109203,109203.0,ENSMUST00000175863.1,0.335903,0.499543,0.494350,NaN,0.483524,0.358411,0.416397,NaN,0.422072
109212,109212.0,ENSMUST00000159498.1,0.216128,0.110681,0.137592,0.119607,0.118270,0.117117,NaN,NaN,0.285770
109214,109214.0,ENSMUST00000176131.1,0.212094,0.316334,0.591547,NaN,NaN,NaN,NaN,NaN,0.270904
109219,109219.0,ENSMUST00000221716.1,NaN,NaN,NaN,0.607781,NaN,NaN,1.057440,0.507391,0.530291
109228,109228.0,ENSMUST00000170486.1,0.045481,0.204347,0.029630,NaN,NaN,NaN,NaN,NaN,0.059375
109232,109232.0,ENSMUST00000096981.3,NaN,NaN,0.029630,NaN,NaN,NaN,NaN,NaN,NaN
109264,109264.0,ENSMUST00000203119.1,0.391729,0.366172,1.107410,1.084320,0.914316,0.106279,0.122030,0.115507,0.571306
109265,109265.0,ENSMUST00000202716.1,NaN,NaN,NaN,0.073928,NaN,NaN,NaN,NaN,NaN
109268,109268.0,ENSMUST00000201265.1,NaN,NaN,0.346987,NaN,NaN,NaN,0.454928,NaN,0.023695
109269,109269.0,ENSMUST00000215012.1,NaN,NaN,NaN,1.421800,NaN,NaN,NaN,NaN,NaN
109272,109272.0,ENSMUST00000202219.1,NaN,NaN,NaN,NaN,0.019346,0.006759,NaN,NaN,NaN

In [78]:
df2 = df2.replace(np.NaN, 0)

In [79]:
df2

,Unnamed: 0,target_id,WT1,WT2,WT3,Treat1,Treat2,Treat3,Treat4,Treat5,Treat6
45,45.0,ENSMUST00000181038.2,0.000000,0.000000,0.000000,0.250503,0.000000,0.000000,0.000000,0.000000,0.000000
60,60.0,ENSMUST00000103671.3,0.996169,0.987738,0.000000,2.811730,1.194940,0.000000,2.058330,0.787184,0.000000
61,61.0,ENSMUST00000103672.8,0.000000,0.000000,0.000000,0.000000,0.000000,0.672287,0.000000,0.000000,0.000000
64,64.0,ENSMUST00000186573.1,0.000000,0.000000,0.000000,0.000000,0.567775,0.000000,0.000000,0.000000,0.000000
112,112.0,ENSMUST00000198439.4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.831106,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
109264,109264.0,ENSMUST00000203119.1,0.391729,0.366172,1.107410,1.084320,0.914316,0.106279,0.122030,0.115507,0.571306
109265,109265.0,ENSMUST00000202716.1,0.000000,0.000000,0.000000,0.073928,0.000000,0.000000,0.000000,0.000000,0.000000
109268,109268.0,ENSMUST00000201265.1,0.000000,0.000000,0.346987,0.000000,0.000000,0.000000,0.454928,0.000000,0.023695
109269,109269.0,ENSMUST00000215012.1,0.000000,0.000000,0.000000,1.421800,0.000000,0.000000,0.000000,0.000000,0.000000
109272,109272.0,ENSMUST00000202219.1,0.000000,0.000000,0.000000,0.000000,0.019346,0.006759,0.000000,0.000000,0.000000

In [81]:
df2['Treat1'].mean()

12.218218368695286

In [84]:
df2['Treat4'].mean()

12.218217305581204

In [87]:
df2.mean() # 평균값 찾기

C:\Users\user\AppData\Local\Temp\ipykernel_15996\3587575296.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df2.mean()

Unnamed: 0    51792.713373
WT1              12.218218
WT2              12.218217
WT3              12.218217
Treat1           12.218218
Treat2           12.218217
Treat3           12.218217
Treat4           12.218217
Treat5           12.218217
Treat6           12.218218
dtype: float64

In [90]:
df2.median() # 중간값찾기
# 평균은 12인데 중간값이 0 또는 1이면 어떠한 큰 값이 평균값을 좌우한다?

C:\Users\user\AppData\Local\Temp\ipykernel_15996\1172267387.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df2.median()

Unnamed: 0    51483.000000
WT1               0.490372
WT2               0.946993
WT3               0.866560
Treat1            1.086420
Treat2            0.150257
Treat3            0.513358
Treat4            0.865124
Treat5            0.508108
Treat6            1.041890
dtype: float64

In [91]:
df2.max() # 제일 큰 값

Unnamed: 0                109272.0
target_id     ENSMUST00000226113.1
WT1                        11781.6
WT2                         7730.9
WT3                        8108.34
Treat1                     12640.2
Treat2                     20371.4
Treat3                     13998.4
Treat4                     18263.1
Treat5                     11046.2
Treat6                     9304.61
dtype: object

---
# 선생님 코드

In [116]:
df3 = df.copy()

In [117]:
df3

,Unnamed: 0,target_id,WT1,WT2,WT3,Treat1,Treat2,Treat3,Treat4,Treat5,Treat6
0,0,ENSMUST00000177564.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,ENSMUST00000196221.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,ENSMUST00000179664.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,ENSMUST00000178537.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,ENSMUST00000178862.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
109277,109277,ENSMUST00000181902.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109278,109278,ENSMUST00000181878.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109279,109279,ENSMUST00000201504.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109280,109280,ENSMUST00000200975.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109281,109281,ENSMUST00000202689.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [118]:
df3 = df3.drop('Unnamed: 0', axis = 1)

In [119]:
df3

,target_id,WT1,WT2,WT3,Treat1,Treat2,Treat3,Treat4,Treat5,Treat6
0,ENSMUST00000177564.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,ENSMUST00000196221.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,ENSMUST00000179664.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,ENSMUST00000178537.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,ENSMUST00000178862.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
109277,ENSMUST00000181902.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109278,ENSMUST00000181878.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109279,ENSMUST00000201504.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109280,ENSMUST00000200975.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109281,ENSMUST00000202689.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [120]:
df3.index

RangeIndex(start=0, stop=109282, step=1)

In [121]:
df3.iloc[:,1:]

        WT1  WT2  WT3  Treat1  Treat2  Treat3  Treat4  Treat5  Treat6
0       0.0  0.0  0.0     0.0     0.0     0.0     0.0     0.0     0.0
1       0.0  0.0  0.0     0.0     0.0     0.0     0.0     0.0     0.0
2       0.0  0.0  0.0     0.0     0.0     0.0     0.0     0.0     0.0
3       0.0  0.0  0.0     0.0     0.0     0.0     0.0     0.0     0.0
4       0.0  0.0  0.0     0.0     0.0     0.0     0.0     0.0     0.0
...     ...  ...  ...     ...     ...     ...     ...     ...     ...
109277  0.0  0.0  0.0     0.0     0.0     0.0     0.0     0.0     0.0
109278  0.0  0.0  0.0     0.0     0.0     0.0     0.0     0.0     0.0
109279  0.0  0.0  0.0     0.0     0.0     0.0     0.0     0.0     0.0
109280  0.0  0.0  0.0     0.0     0.0     0.0     0.0     0.0     0.0
109281  0.0  0.0  0.0     0.0     0.0     0.0     0.0     0.0     0.0

[109282 rows x 9 columns]

In [122]:
df3.iloc[15,1:].sum() == 0

True

In [123]:
mask = []

for i in df.index:
    if df3.iloc[i,1:].sum() == 0:
        mask.append(True)
    else:
        mask.append(False)

In [133]:
df3 = df3[[not m for m in mask]]

In [134]:
df3

,target_id,WT1,WT2,WT3,Treat1,Treat2,Treat3,Treat4,Treat5,Treat6
45,ENSMUST00000181038.2,0.000000,0.000000,0.000000,0.250503,0.000000,0.000000,0.000000,0.000000,0.000000
60,ENSMUST00000103671.3,0.996169,0.987738,0.000000,2.811730,1.194940,0.000000,2.058330,0.787184,0.000000
61,ENSMUST00000103672.8,0.000000,0.000000,0.000000,0.000000,0.000000,0.672287,0.000000,0.000000,0.000000
64,ENSMUST00000186573.1,0.000000,0.000000,0.000000,0.000000,0.567775,0.000000,0.000000,0.000000,0.000000
112,ENSMUST00000198439.4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.831106,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...
109264,ENSMUST00000203119.1,0.391729,0.366172,1.107410,1.084320,0.914316,0.106279,0.122030,0.115507,0.571306
109265,ENSMUST00000202716.1,0.000000,0.000000,0.000000,0.073928,0.000000,0.000000,0.000000,0.000000,0.000000
109268,ENSMUST00000201265.1,0.000000,0.000000,0.346987,0.000000,0.000000,0.000000,0.454928,0.000000,0.023695
109269,ENSMUST00000215012.1,0.000000,0.000000,0.000000,1.421800,0.000000,0.000000,0.000000,0.000000,0.000000
109272,ENSMUST00000202219.1,0.000000,0.000000,0.000000,0.000000,0.019346,0.006759,0.000000,0.000000,0.000000

In [125]:
mask

[True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 False,
 False,
 True,
 False,
 False,
 False,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 True,
 True,
 True,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 True,
 ...]

In [129]:
df3[[m for m in mask]]

,target_id,WT1,WT2,WT3,Treat1,Treat2,Treat3,Treat4,Treat5,Treat6
0,ENSMUST00000177564.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,ENSMUST00000196221.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,ENSMUST00000179664.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,ENSMUST00000178537.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,ENSMUST00000178862.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
109277,ENSMUST00000181902.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109278,ENSMUST00000181878.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109279,ENSMUST00000201504.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109280,ENSMUST00000200975.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109281,ENSMUST00000202689.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [135]:
df3[['Treat1', 'Treat4']].mean()

Treat1    12.218218
Treat4    12.218217
dtype: float64

In [136]:
df3[['Treat1', 'Treat4']].mean(axis=1)

45        0.125251
60        2.435030
61        0.000000
64        0.000000
112       0.415553
            ...
109264    0.603175
109265    0.036964
109268    0.227464
109269    0.710900
109272    0.000000
Length: 81845, dtype: float64

In [137]:
df3['Treat1_4_mean'] = df3[['Treat1', 'Treat4']].mean(axis=1) # 얕은 복사 에러

C:\Users\user\AppData\Local\Temp\ipykernel_15996\3948125052.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Treat1_4_mean'] = df3[['Treat1', 'Treat4']].mean(axis=1)

In [138]:
df3

,target_id,WT1,WT2,WT3,Treat1,Treat2,Treat3,Treat4,Treat5,Treat6,Treat1_4_mean
45,ENSMUST00000181038.2,0.000000,0.000000,0.000000,0.250503,0.000000,0.000000,0.000000,0.000000,0.000000,0.125251
60,ENSMUST00000103671.3,0.996169,0.987738,0.000000,2.811730,1.194940,0.000000,2.058330,0.787184,0.000000,2.435030
61,ENSMUST00000103672.8,0.000000,0.000000,0.000000,0.000000,0.000000,0.672287,0.000000,0.000000,0.000000,0.000000
64,ENSMUST00000186573.1,0.000000,0.000000,0.000000,0.000000,0.567775,0.000000,0.000000,0.000000,0.000000,0.000000
112,ENSMUST00000198439.4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.831106,0.000000,0.000000,0.415553
...,...,...,...,...,...,...,...,...,...,...,...
109264,ENSMUST00000203119.1,0.391729,0.366172,1.107410,1.084320,0.914316,0.106279,0.122030,0.115507,0.571306,0.603175
109265,ENSMUST00000202716.1,0.000000,0.000000,0.000000,0.073928,0.000000,0.000000,0.000000,0.000000,0.000000,0.036964
109268,ENSMUST00000201265.1,0.000000,0.000000,0.346987,0.000000,0.000000,0.000000,0.454928,0.000000,0.023695,0.227464
109269,ENSMUST00000215012.1,0.000000,0.000000,0.000000,1.421800,0.000000,0.000000,0.000000,0.000000,0.000000,0.710900
109272,ENSMUST00000202219.1,0.000000,0.000000,0.000000,0.000000,0.019346,0.006759,0.000000,0.000000,0.000000,0.000000

In [141]:
df3.isnull()

,target_id,WT1,WT2,WT3,Treat1,Treat2,Treat3,Treat4,Treat5,Treat6,Treat1_4_mean
45,False,False,False,False,False,False,False,False,False,False,False
60,False,False,False,False,False,False,False,False,False,False,False
61,False,False,False,False,False,False,False,False,False,False,False
64,False,False,False,False,False,False,False,False,False,False,False
112,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
109264,False,False,False,False,False,False,False,False,False,False,False
109265,False,False,False,False,False,False,False,False,False,False,False
109268,False,False,False,False,False,False,False,False,False,False,False
109269,False,False,False,False,False,False,False,False,False,False,False
109272,False,False,False,False,False,False,False,False,False,False,False

# 데이터 통합
* 동일한 데이터를 통합
    * 두 데이터간 차이가 있느지 확인
* 같은 의미를 가지는 데이터 검토
* 같은 데이터를 포함한 정보 처리

# 실습 - 실제 데이터 전처리
* 어느 센터에서
* 어떤 강좌를
* 누가
* 얼마나
* 누구한테

진행했는지 정리해 보시오: 데이터프레임 형태로 나타낼 것

In [151]:
pd.read_csv("C:/Users/user/Downloads/12.csv", encoding='cp949')

,센터명,강좌명,강사명,교육시작일자,교육종료일자,강좌내용,교육대상구분,교육방법구분,운영요일,강좌정원수,데이터기준일자
0,서울시청자미디어센터,상설미디어체험 교육,"이수현,김민호",2022-11-12,2022-11-26,상설미디어체험(뉴스앵커체험 등),일반,오프라인,토,25,2022-11-09
1,서울시청자미디어센터,찾아가는미디어나눔버스 체험 교육,"김도경,이수현",2022-11-21,2022-11-21,찾아가는미디어나눔버스 체험,청소년,오프라인,월,25,2022-11-09
2,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-22,2022-11-22,찾아가는미디어나눔버스 체험,청소년,오프라인,화,25,2022-11-09
3,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-23,2022-11-23,찾아가는미디어나눔버스 체험,청소년,오프라인,수,25,2022-11-09
4,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-25,2022-11-25,찾아가는미디어나눔버스 체험,청소년,오프라인,금,25,2022-11-09
...,...,...,...,...,...,...,...,...,...,...,...
94,인천시청자미디어센터,찾아가는 미디어나눔버스(TV뉴스체험),"류은애,김은자",2022-11-30,2022-11-30,TV 뉴스 제작 및 영상합성 크로마키 체험,중학생,오프라인,수,25,2022-11-09
95,충북시청자미디어센터,TV체험(뉴스체험),미정,2022-11-01,2022-11-30,"아나운서, 기자, 기상캐스터 등 역할을 나누어 뉴스 제작 과정을 체험해보는 프로그램",초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09
96,충북시청자미디어센터,라디오체험(DJ체험),미정,2022-11-01,2022-11-30,"라디오 프로그램을 작가, DJ, 게스트가 되어 라디오 프로그램을 제작해보는 체험",초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09
97,충북시청자미디어센터,유아 크로마키 체험,미정,2022-11-01,2022-11-30,유아 대상 크로마키를 통해 다양한 놀이를 해보는 체험,6~7세,오프라인,"월,화,수,목,금,토",15,2022-11-09
98,충북시청자미디어센터,AI 체험,미정,2022-11-01,2022-11-30,인공지능에 대해 이해하고 머신러닝을 여러 방법으로 알아보는 체험,초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09

In [164]:
seoul_df = pd.read_csv("C:/Users/user/Downloads/12.csv", encoding='cp949')

In [165]:
seoul_df['데이터기준일자'].unique()

array(['2022-11-09'], dtype=object)

In [166]:
seoul_df = seoul_df.drop(['데이터기준일자'], axis = 1)

In [167]:
seoul_df['센터명'].unique()

array(['서울시청자미디어센터', '울산시청자미디어센터', '강원시청자미디어센터', '대전시청자미디어센터',
       '광주시청자미디어센터', '부산시청자미디어센터', '인천시청자미디어센터', '충북시청자미디어센터'],
      dtype=object)

In [168]:
seoul_df['교육방법구분'].unique()

array(['오프라인', '온라인'], dtype=object)

In [169]:
seoul_df['강좌명'].unique()

array(['상설미디어체험 교육', '찾아가는미디어나눔버스 체험 교육', '찾아가는미디어나눔버스 체험', '미디어 체험 교육',
       '생방송톡톡TV', 'DJ수다박스', '초록세상마법학교', '오늘은NEWS데이', '찰칵애니',
       '미고의 미디어 탐방기', '우리반데이터만들기', '알듯말듯 알고리즘 알려줄게 알고리즘', '무지개TV',
       '꼼지락뉴스', '폴리체험', 'VR체험', '나눔버스_천안시청 교육청소년과', '센터_대전광역시노인복지관',
       '센터_청소년정책연구원', '미디어체험', '온라인미디어체험(ZOOM)', '드림러너', '상설미디어체험',
       '라디오체험', 'TV뉴스체험', '스톱모션 제작 체험', '크로마키체험', '찾아가는 미디어나눔버스(TV뉴스체험)',
       'TV체험(뉴스체험)', '라디오체험(DJ체험)', '유아 크로마키 체험', 'AI 체험'], dtype=object)

In [171]:
seoul_df['교육대상구분'].unique()

array(['일반', '청소년', '유아', '초등학생', '미취학', '중학생', '유아,아동', '초등학생 이상',
       '중고등학생', '노인(65세~)', '모든연령', '고등학생', '지역주민', '고등학생,장애인', '성인',
       '대학생', '성인,장애인', '중학생,장애인', '6~7세'], dtype=object)

In [172]:
seoul_df = seoul_df.replace('모든연령', '일반')

In [173]:
seoul_df['교육대상구분'].unique()

array(['일반', '청소년', '유아', '초등학생', '미취학', '중학생', '유아,아동', '초등학생 이상',
       '중고등학생', '노인(65세~)', '고등학생', '지역주민', '고등학생,장애인', '성인', '대학생',
       '성인,장애인', '중학생,장애인', '6~7세'], dtype=object)

In [174]:
seoul_df = seoul_df.replace('센터명', '센터지역')
seoul_df = seoul_df.replace('서울시청자미디어센터', '서울')
seoul_df = seoul_df.replace('울산시청자미디어센터', '울산')
seoul_df = seoul_df.replace('강원시청자미디어센터', '강원')
seoul_df = seoul_df.replace('대전시청자미디어센터', '대전')
seoul_df = seoul_df.replace('광주시청자미디어센터', '광주')
seoul_df = seoul_df.replace('부산시청자미디어센터', '부산')
seoul_df = seoul_df.replace('인천시청자미디어센터', '인천')
seoul_df = seoul_df.replace('충북시청자미디어센터', '충북')

In [175]:
seoul_df

,센터명,강좌명,강사명,교육시작일자,교육종료일자,강좌내용,교육대상구분,교육방법구분,운영요일,강좌정원수
0,서울,상설미디어체험 교육,"이수현,김민호",2022-11-12,2022-11-26,상설미디어체험(뉴스앵커체험 등),일반,오프라인,토,25
1,서울,찾아가는미디어나눔버스 체험 교육,"김도경,이수현",2022-11-21,2022-11-21,찾아가는미디어나눔버스 체험,청소년,오프라인,월,25
2,서울,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-22,2022-11-22,찾아가는미디어나눔버스 체험,청소년,오프라인,화,25
3,서울,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-23,2022-11-23,찾아가는미디어나눔버스 체험,청소년,오프라인,수,25
4,서울,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-25,2022-11-25,찾아가는미디어나눔버스 체험,청소년,오프라인,금,25
...,...,...,...,...,...,...,...,...,...,...
94,인천,찾아가는 미디어나눔버스(TV뉴스체험),"류은애,김은자",2022-11-30,2022-11-30,TV 뉴스 제작 및 영상합성 크로마키 체험,중학생,오프라인,수,25
95,충북,TV체험(뉴스체험),미정,2022-11-01,2022-11-30,"아나운서, 기자, 기상캐스터 등 역할을 나누어 뉴스 제작 과정을 체험해보는 프로그램",초등학생 이상,오프라인,"월,화,수,목,금,토",15
96,충북,라디오체험(DJ체험),미정,2022-11-01,2022-11-30,"라디오 프로그램을 작가, DJ, 게스트가 되어 라디오 프로그램을 제작해보는 체험",초등학생 이상,오프라인,"월,화,수,목,금,토",15
97,충북,유아 크로마키 체험,미정,2022-11-01,2022-11-30,유아 대상 크로마키를 통해 다양한 놀이를 해보는 체험,6~7세,오프라인,"월,화,수,목,금,토",15
98,충북,AI 체험,미정,2022-11-01,2022-11-30,인공지능에 대해 이해하고 머신러닝을 여러 방법으로 알아보는 체험,초등학생 이상,오프라인,"월,화,수,목,금,토",15

In [177]:
seoul_df.index

RangeIndex(start=0, stop=99, step=1)

In [178]:
for i in seoul_df.index:
    seoul_df['교육기간(일 수)'] = seoul_df['교육종료일자'][i] - seoul_df['교육시작일자'][i]

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [179]:
seoul_df['교육종료일자'][2]

'2022-11-22'

In [191]:
import datetime
dt_datetime = []

for i in seoul_df.index:
    dt_datetime = datetime.datetime.strptime(seoul_df['교육종료일자'][i], '%Y-%m-%d')
    print(dt_datetime)

2022-11-26 00:00:00
2022-11-21 00:00:00
2022-11-22 00:00:00
2022-11-23 00:00:00
2022-11-25 00:00:00
2022-11-21 00:00:00
2022-11-07 00:00:00
2022-11-07 00:00:00
2022-11-08 00:00:00
2022-11-08 00:00:00
2022-11-09 00:00:00
2022-11-09 00:00:00
2022-11-10 00:00:00
2022-11-10 00:00:00
2022-11-11 00:00:00
2022-11-11 00:00:00
2022-11-12 00:00:00
2022-11-14 00:00:00
2022-11-17 00:00:00
2022-11-17 00:00:00
2022-11-17 00:00:00
2022-11-18 00:00:00
2022-11-18 00:00:00
2022-11-18 00:00:00
2022-11-23 00:00:00
2022-11-24 00:00:00
2022-11-25 00:00:00
2022-11-25 00:00:00
2022-11-25 00:00:00
2022-11-25 00:00:00
2022-11-30 00:00:00
2022-11-30 00:00:00
2022-11-30 00:00:00
2022-11-30 00:00:00
2022-11-12 00:00:00
2022-11-16 00:00:00
2022-11-23 00:00:00
2022-11-26 00:00:00
2022-12-31 00:00:00
2022-12-31 00:00:00
2022-12-31 00:00:00
2022-11-01 00:00:00
2022-11-02 00:00:00
2022-11-03 00:00:00
2022-11-04 00:00:00
2022-11-05 00:00:00
2022-11-07 00:00:00
2022-11-08 00:00:00
2022-11-09 00:00:00
2022-11-10 00:00:00
2022-11-11 00:00:00
2022-11-12 00:00:00
2022-11-14 00:00:00
2022-11-15 00:00:00
2022-11-16 00:00:00
2022-11-17 00:00:00
2022-11-18 00:00:00
2022-11-19 00:00:00
2022-11-21 00:00:00
2022-11-22 00:00:00
2022-11-23 00:00:00
2022-11-24 00:00:00
2022-11-25 00:00:00
2022-11-26 00:00:00
2022-11-28 00:00:00
2022-11-29 00:00:00
2022-11-30 00:00:00
2022-11-01 00:00:00
2022-11-02 00:00:00
2022-11-02 00:00:00
2022-11-03 00:00:00
2022-11-05 00:00:00
2022-11-05 00:00:00
2022-11-07 00:00:00
2022-11-08 00:00:00
2022-11-08 00:00:00
2022-11-09 00:00:00
2022-11-10 00:00:00
2022-11-10 00:00:00
2022-11-11 00:00:00
2022-11-15 00:00:00
2022-11-16 00:00:00
2022-11-17 00:00:00
2022-11-18 00:00:00
2022-11-18 00:00:00
2022-11-21 00:00:00
2022-11-22 00:00:00
2022-11-22 00:00:00
2022-11-23 00:00:00
2022-11-23 00:00:00
2022-11-24 00:00:00
2022-11-25 00:00:00
2022-11-28 00:00:00
2022-11-29 00:00:00
2022-11-30 00:00:00
2022-11-30 00:00:00
2022-11-30 00:00:00
2022-11-30 00:00:00
2022-11-30 00:00:00

In [200]:
import datetime
dt_datetime = []

for i in seoul_df.index:
    dt_datetime1 = datetime.datetime.strptime(seoul_df['교육종료일자'][i], '%Y-%m-%d')
    dt_datetime2 = datetime.datetime.strptime(seoul_df['교육시작일자'][i], '%Y-%m-%d')
    
    dt_datetime3 = dt_datetime1 - dt_datetime2
        
    print(dt_datetime3)

14 days, 0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
-4 days, 0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
29 days, 0:00:00
29 days, 0:00:00
29 days, 0:00:00
29 days, 0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
54 days, 0:00:00
54 days, 0:00:00
54 days, 0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
0:00:00
29 days, 0:00:00
29 days, 0:00:00
29 days, 0:00:00
29 days, 0:00:00

In [187]:
seoul_df.head(20)

,센터명,강좌명,강사명,교육시작일자,교육종료일자,강좌내용,교육대상구분,교육방법구분,운영요일,강좌정원수
0,서울,상설미디어체험 교육,"이수현,김민호",2022-11-12,2022-11-26,상설미디어체험(뉴스앵커체험 등),일반,오프라인,토,25
1,서울,찾아가는미디어나눔버스 체험 교육,"김도경,이수현",2022-11-21,2022-11-21,찾아가는미디어나눔버스 체험,청소년,오프라인,월,25
2,서울,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-22,2022-11-22,찾아가는미디어나눔버스 체험,청소년,오프라인,화,25
3,서울,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-23,2022-11-23,찾아가는미디어나눔버스 체험,청소년,오프라인,수,25
4,서울,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-25,2022-11-25,찾아가는미디어나눔버스 체험,청소년,오프라인,금,25
5,서울,미디어 체험 교육,"김도경,이수현",2022-11-25,2022-11-21,앵커 체험,유아,오프라인,금,25
6,울산,생방송톡톡TV,전윤겸,2022-11-07,2022-11-07,매거진프로그램을 만들어보는 체험,초등학생,오프라인,월,25
7,울산,DJ수다박스,정혜영,2022-11-07,2022-11-07,라디오프로그램을 만들어 보는 체험,초등학생,오프라인,월,25
8,울산,생방송톡톡TV,박민주,2022-11-08,2022-11-08,매거진프로그램을 만들어보는 체험,초등학생,오프라인,화,25
9,울산,DJ수다박스,김은희,2022-11-08,2022-11-08,라디오프로그램을 만들어 보는 체험,초등학생,오프라인,화,25
10,울산,생방송톡톡TV,장미경,2022-11-09,2022-11-09,매거진프로그램을 만들어보는 체험,초등학생,오프라인,수,25
11,울산,DJ수다박스,김현주,2022-11-09,2022-11-09,라디오프로그램을 만들어 보는 체험,초등학생,오프라인,수,25
12,울산,생방송톡톡TV,김현주,2022-11-10,2022-11-10,매거진프로그램을 만들어보는 체험,초등학생,오프라인,목,25
13,울산,DJ수다박스,김은희,2022-11-10,2022-11-10,라디오프로그램을 만들어 보는 체험,초등학생,오프라인,목,25
14,울산,생방송톡톡TV,김은희,2022-11-11,2022-11-11,매거진프로그램을 만들어보는 체험,초등학생,오프라인,금,25
15,울산,DJ수다박스,도현아,2022-11-11,2022-11-11,라디오프로그램을 만들어 보는 체험,초등학생,오프라인,금,25
16,울산,DJ수다박스,곽은민,2022-11-12,2022-11-12,라디오프로그램을 만들어 보는 체험,초등학생,오프라인,토,25
17,울산,초록세상마법학교,도현아,2022-11-14,2022-11-14,크로마키를 활용한 영상 합성 체험,미취학,오프라인,월,25
18,울산,오늘은NEWS데이,김은희,2022-11-17,2022-11-17,뉴스프로그램을 만들어보는 체험,초등학생,오프라인,목,25
19,울산,찰칵애니,장미경,2022-11-17,2022-11-17,스톱모션을 통해 영상을 만들어보는 체험,초등학생,오프라인,목,25

---
# 선생님 실습

In [231]:
df = pd.read_csv("C:/Users/user/Downloads/12.csv", encoding='cp949')

In [232]:
df['강좌명'].unique()

array(['상설미디어체험 교육', '찾아가는미디어나눔버스 체험 교육', '찾아가는미디어나눔버스 체험', '미디어 체험 교육',
       '생방송톡톡TV', 'DJ수다박스', '초록세상마법학교', '오늘은NEWS데이', '찰칵애니',
       '미고의 미디어 탐방기', '우리반데이터만들기', '알듯말듯 알고리즘 알려줄게 알고리즘', '무지개TV',
       '꼼지락뉴스', '폴리체험', 'VR체험', '나눔버스_천안시청 교육청소년과', '센터_대전광역시노인복지관',
       '센터_청소년정책연구원', '미디어체험', '온라인미디어체험(ZOOM)', '드림러너', '상설미디어체험',
       '라디오체험', 'TV뉴스체험', '스톱모션 제작 체험', '크로마키체험', '찾아가는 미디어나눔버스(TV뉴스체험)',
       'TV체험(뉴스체험)', '라디오체험(DJ체험)', '유아 크로마키 체험', 'AI 체험'], dtype=object)

In [233]:
df['강좌명'].apply(lambda x: '찾아가는미디어나눔버스 체험' if '찾아가는미디어나눔버스 체험' in x else x)

0               상설미디어체험 교육
1           찾아가는미디어나눔버스 체험
2           찾아가는미디어나눔버스 체험
3           찾아가는미디어나눔버스 체험
4           찾아가는미디어나눔버스 체험
              ...
94    찾아가는 미디어나눔버스(TV뉴스체험)
95              TV체험(뉴스체험)
96             라디오체험(DJ체험)
97              유아 크로마키 체험
98                   AI 체험
Name: 강좌명, Length: 99, dtype: object

In [234]:
df['강좌명'] = df['강좌명'].apply(lambda x: '찾아가는미디어나눔버스 체험' if '찾아가는미디어나눔버스 체험' in x else x)

In [235]:
df['강사명'].unique()

array(['이수현,김민호', '김도경,이수현', '전윤겸', '정혜영', '박민주', '김은희', '장미경', '김현주',
       '도현아', '곽은민', '김윤아', '손영주,윤기숙,정선애,이나미', '윤기숙,정선애', '장정우,최영은',
       '김선희외2', '김수현외1', '김은수외3', '미정', '김은미', '백진영,이희주', '류은애,김은자',
       '백진영,김은자', '이두인,이희주', '박희영,이성희'], dtype=object)

In [236]:
df['강사명'].apply(lambda x: '기타' if x == '미정' in x else x)

0     이수현,김민호
1     김도경,이수현
2     김도경,이수현
3     김도경,이수현
4     김도경,이수현
       ...
94    류은애,김은자
95         기타
96         기타
97         기타
98         기타
Name: 강사명, Length: 99, dtype: object

In [237]:
df['강사명'] = df['강사명'].apply(lambda x: '기타' if x == '미정' in x else x)

In [238]:
df

,센터명,강좌명,강사명,교육시작일자,교육종료일자,강좌내용,교육대상구분,교육방법구분,운영요일,강좌정원수,데이터기준일자
0,서울시청자미디어센터,상설미디어체험 교육,"이수현,김민호",2022-11-12,2022-11-26,상설미디어체험(뉴스앵커체험 등),일반,오프라인,토,25,2022-11-09
1,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-21,2022-11-21,찾아가는미디어나눔버스 체험,청소년,오프라인,월,25,2022-11-09
2,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-22,2022-11-22,찾아가는미디어나눔버스 체험,청소년,오프라인,화,25,2022-11-09
3,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-23,2022-11-23,찾아가는미디어나눔버스 체험,청소년,오프라인,수,25,2022-11-09
4,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-25,2022-11-25,찾아가는미디어나눔버스 체험,청소년,오프라인,금,25,2022-11-09
...,...,...,...,...,...,...,...,...,...,...,...
94,인천시청자미디어센터,찾아가는 미디어나눔버스(TV뉴스체험),"류은애,김은자",2022-11-30,2022-11-30,TV 뉴스 제작 및 영상합성 크로마키 체험,중학생,오프라인,수,25,2022-11-09
95,충북시청자미디어센터,TV체험(뉴스체험),기타,2022-11-01,2022-11-30,"아나운서, 기자, 기상캐스터 등 역할을 나누어 뉴스 제작 과정을 체험해보는 프로그램",초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09
96,충북시청자미디어센터,라디오체험(DJ체험),기타,2022-11-01,2022-11-30,"라디오 프로그램을 작가, DJ, 게스트가 되어 라디오 프로그램을 제작해보는 체험",초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09
97,충북시청자미디어센터,유아 크로마키 체험,기타,2022-11-01,2022-11-30,유아 대상 크로마키를 통해 다양한 놀이를 해보는 체험,6~7세,오프라인,"월,화,수,목,금,토",15,2022-11-09
98,충북시청자미디어센터,AI 체험,기타,2022-11-01,2022-11-30,인공지능에 대해 이해하고 머신러닝을 여러 방법으로 알아보는 체험,초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09

In [239]:
'김은수외3'.split('외')

['김은수', '3']

In [240]:
temp = '김은수외3'.split('외')
temp[-1]

'3'

In [241]:
temp[-1] =  '기타'

In [243]:
df['강사명'] = df['강사명'].apply(lambda x: [x.split('외')[0], '기타']if '외' in x else x)

In [249]:
df.head(50)

,센터명,강좌명,강사명,교육시작일자,교육종료일자,강좌내용,교육대상구분,교육방법구분,운영요일,강좌정원수,데이터기준일자
0,서울시청자미디어센터,상설미디어체험 교육,"이수현,김민호",2022-11-12,2022-11-26,상설미디어체험(뉴스앵커체험 등),일반,오프라인,토,25,2022-11-09
1,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-21,2022-11-21,찾아가는미디어나눔버스 체험,청소년,오프라인,월,25,2022-11-09
2,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-22,2022-11-22,찾아가는미디어나눔버스 체험,청소년,오프라인,화,25,2022-11-09
3,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-23,2022-11-23,찾아가는미디어나눔버스 체험,청소년,오프라인,수,25,2022-11-09
4,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-25,2022-11-25,찾아가는미디어나눔버스 체험,청소년,오프라인,금,25,2022-11-09
5,서울시청자미디어센터,미디어 체험 교육,"김도경,이수현",2022-11-25,2022-11-21,앵커 체험,유아,오프라인,금,25,2022-11-09
6,울산시청자미디어센터,생방송톡톡TV,전윤겸,2022-11-07,2022-11-07,매거진프로그램을 만들어보는 체험,초등학생,오프라인,월,25,2022-11-09
7,울산시청자미디어센터,DJ수다박스,정혜영,2022-11-07,2022-11-07,라디오프로그램을 만들어 보는 체험,초등학생,오프라인,월,25,2022-11-09
8,울산시청자미디어센터,생방송톡톡TV,박민주,2022-11-08,2022-11-08,매거진프로그램을 만들어보는 체험,초등학생,오프라인,화,25,2022-11-09
9,울산시청자미디어센터,DJ수다박스,김은희,2022-11-08,2022-11-08,라디오프로그램을 만들어 보는 체험,초등학생,오프라인,화,25,2022-11-09
10,울산시청자미디어센터,생방송톡톡TV,장미경,2022-11-09,2022-11-09,매거진프로그램을 만들어보는 체험,초등학생,오프라인,수,25,2022-11-09
11,울산시청자미디어센터,DJ수다박스,김현주,2022-11-09,2022-11-09,라디오프로그램을 만들어 보는 체험,초등학생,오프라인,수,25,2022-11-09
12,울산시청자미디어센터,생방송톡톡TV,김현주,2022-11-10,2022-11-10,매거진프로그램을 만들어보는 체험,초등학생,오프라인,목,25,2022-11-09
13,울산시청자미디어센터,DJ수다박스,김은희,2022-11-10,2022-11-10,라디오프로그램을 만들어 보는 체험,초등학생,오프라인,목,25,2022-11-09
14,울산시청자미디어센터,생방송톡톡TV,김은희,2022-11-11,2022-11-11,매거진프로그램을 만들어보는 체험,초등학생,오프라인,금,25,2022-11-09
15,울산시청자미디어센터,DJ수다박스,도현아,2022-11-11,2022-11-11,라디오프로그램을 만들어 보는 체험,초등학생,오프라인,금,25,2022-11-09
16,울산시청자미디어센터,DJ수다박스,곽은민,2022-11-12,2022-11-12,라디오프로그램을 만들어 보는 체험,초등학생,오프라인,토,25,2022-11-09
17,울산시청자미디어센터,초록세상마법학교,도현아,2022-11-14,2022-11-14,크로마키를 활용한 영상 합성 체험,미취학,오프라인,월,25,2022-11-09
18,울산시청자미디어센터,오늘은NEWS데이,김은희,2022-11-17,2022-11-17,뉴스프로그램을 만들어보는 체험,초등학생,오프라인,목,25,2022-11-09
19,울산시청자미디어센터,찰칵애니,장미경,2022-11-17,2022-11-17,스톱모션을 통해 영상을 만들어보는 체험,초등학생,오프라인,목,25,2022-11-09
20,울산시청자미디어센터,DJ수다박스,정혜영,2022-11-17,2022-11-17,라디오프로그램을 만들어 보는 체험,초등학생,오프라인,목,25,2022-11-09
21,울산시청자미디어센터,오늘은NEWS데이,전윤겸,2022-11-18,2022-11-18,뉴스프로그램을 만들어보는 체험,초등학생,오프라인,금,25,2022-11-09
22,울산시청자미디어센터,찰칵애니,박민주,2022-11-18,2022-11-18,스톱모션을 통해 영상을 만들어보는 체험,초등학생,오프라인,금,25,2022-11-09
23,울산시청자미디어센터,DJ수다박스,김현주,2022-11-18,2022-11-18,라디오프로그램을 만들어 보는 체험,초등학생,오프라인,금,25,2022-11-09
24,울산시청자미디어센터,미고의 미디어 탐방기,전윤겸,2022-11-23,2022-11-23,유아미디어리터러시체험,미취학,오프라인,수,25,2022-11-09
25,울산시청자미디어센터,미고의 미디어 탐방기,정혜영,2022-11-24,2022-11-24,유아미디어리터러시체험,미취학,오프라인,목,25,2022-11-09
26,울산시청자미디어센터,우리반데이터만들기,전윤겸,2022-11-25,2022-11-25,빅데이터와 광고의 상관관계에 대해 알아보는 체험,중학생,오프라인,금,25,2022-11-09
27,울산시청자미디어센터,알듯말듯 알고리즘 알려줄게 알고리즘,도현아,2022-11-25,2022-11-25,유튜브 알고리즘에 대해 알아보는 체험,중학생,오프라인,금,25,2022-11-09
28,울산시청자미디어센터,찰칵애니,박민주,2022-11-25,2022-11-25,스톱모션을 통해 영상을 만들어보는 체험,중학생,오프라인,금,25,2022-11-09
29,울산시청자미디어센터,미고의 미디어 탐방기,김윤아,2022-11-25,2022-11-25,유아미디어리터러시체험,미취학,오프라인,금,25,2022-11-09
30,강원시청자미디어센터,무지개TV,"손영주,윤기숙,정선애,이나미",2022-11-01,2022-11-30,크로마키 합성을 이용한 유아 놀이 체험,"유아,아동",오프라인,"월,화,수,목,금,토",20,2022-11-09
31,강원시청자미디어센터,꼼지락뉴스,"손영주,윤기숙,정선애,이나미",2022-11-01,2022-11-30,뉴스에 나오는 다양한 역할을 경험해보는 뉴스제작체험,초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09
32,강원시청자미디어센터,폴리체험,"윤기숙,정선애",2022-11-01,2022-11-30,도구를 이용하여 폴리 효과음을 제작해보는 체험,초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09
33,강원시청자미디어센터,VR체험,"장정우,최영은",2022-11-01,2022-11-30,360도 카메라를 이용하여 직접 촬영한 영상을 VR기기를 통해 확인해보는 체험,초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09
34,대전시청자미디어센터,나눔버스_천안시청 교육청소년과,"[김선희, 기타]",2022-11-12,2022-11-12,티비체험,중고등학생,오프라인,토,50,2022-11-09
35,대전시청자미디어센터,센터_대전광역시노인복지관,"[김수현, 기타]",2022-11-16,2022-11-16,라디오체험,노인(65세~),오프라인,수,10,2022-11-09
36,대전시청자미디어센터,센터_대전광역시노인복지관,"[김수현, 기타]",2022-11-23,2022-11-23,라디오체험,노인(65세~),오프라인,수,10,2022-11-09
37,대전시청자미디어센터,센터_청소년정책연구원,"[김은수, 기타]",2022-11-26,2022-11-26,체험프로그램 운영(미정),중고등학생,오프라인,토,40,2022-11-09
38,광주시청자미디어센터,미디어체험,기타,2022-11-07,2022-12-31,TV 및 라디오,모든연령,오프라인,"월,화,수,목,금,토",20,2022-11-09
39,광주시청자미디어센터,온라인미디어체험(ZOOM),기타,2022-11-07,2022-12-31,"미디어 진로, 스톡모션 체험",모든연령,오프라인,"월,화,수,목,금,토",20,2022-11-09
40,광주시청자미디어센터,드림러너,기타,2022-11-07,2022-12-31,라디오체험,고등학생,오프라인,"월,화,수,목,금,토",20,2022-11-09
41,부산시청자미디어센터,상설미디어체험,김은미,2022-11-01,2022-11-01,"TV, 라디오, 스마트 등 매체별 미디어체험 프로그램",지역주민,오프라인,화,20,2022-11-09
42,부산시청자미디어센터,상설미디어체험,김은미,2022-11-02,2022-11-02,"TV, 라디오, 스마트 등 매체별 미디어체험 프로그램",지역주민,오프라인,수,20,2022-11-09
43,부산시청자미디어센터,상설미디어체험,김은미,2022-11-03,2022-11-03,"TV, 라디오, 스마트 등 매체별 미디어체험 프로그램",지역주민,오프라인,목,20,2022-11-09
44,부산시청자미디어센터,상설미디어체험,김은미,2022-11-04,2022-11-04,"TV, 라디오, 스마트 등 매체별 미디어체험 프로그램",지역주민,오프라인,금,20,2022-11-09
45,부산시청자미디어센터,상설미디어체험,김은미,2022-11-05,2022-11-05,"TV, 라디오, 스마트 등 매체별 미디어체험 프로그램",지역주민,오프라인,토,20,2022-11-09
46,부산시청자미디어센터,상설미디어체험,김은미,2022-11-07,2022-11-07,"TV, 라디오, 스마트 등 매체별 미디어체험 프로그램",지역주민,오프라인,월,20,2022-11-09
47,부산시청자미디어센터,상설미디어체험,김은미,2022-11-08,2022-11-08,"TV, 라디오, 스마트 등 매체별 미디어체험 프로그램",지역주민,오프라인,화,20,2022-11-09
48,부산시청자미디어센터,상설미디어체험,김은미,2022-11-09,2022-11-09,"TV, 라디오, 스마트 등 매체별 미디어체험 프로그램",지역주민,오프라인,수,20,2022-11-09
49,부산시청자미디어센터,상설미디어체험,김은미,2022-11-10,2022-11-10,"TV, 라디오, 스마트 등 매체별 미디어체험 프로그램",지역주민,오프라인,목,20,2022-11-09

In [250]:
df['강사명'] = df['강사명'].apply(lambda x: x.split(',')if ',' in x else x)

In [251]:
df.head(50)

,센터명,강좌명,강사명,교육시작일자,교육종료일자,강좌내용,교육대상구분,교육방법구분,운영요일,강좌정원수,데이터기준일자
0,서울시청자미디어센터,상설미디어체험 교육,"[이수현, 김민호]",2022-11-12,2022-11-26,상설미디어체험(뉴스앵커체험 등),일반,오프라인,토,25,2022-11-09
1,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"[김도경, 이수현]",2022-11-21,2022-11-21,찾아가는미디어나눔버스 체험,청소년,오프라인,월,25,2022-11-09
2,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"[김도경, 이수현]",2022-11-22,2022-11-22,찾아가는미디어나눔버스 체험,청소년,오프라인,화,25,2022-11-09
3,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"[김도경, 이수현]",2022-11-23,2022-11-23,찾아가는미디어나눔버스 체험,청소년,오프라인,수,25,2022-11-09
4,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"[김도경, 이수현]",2022-11-25,2022-11-25,찾아가는미디어나눔버스 체험,청소년,오프라인,금,25,2022-11-09
5,서울시청자미디어센터,미디어 체험 교육,"[김도경, 이수현]",2022-11-25,2022-11-21,앵커 체험,유아,오프라인,금,25,2022-11-09
6,울산시청자미디어센터,생방송톡톡TV,전윤겸,2022-11-07,2022-11-07,매거진프로그램을 만들어보는 체험,초등학생,오프라인,월,25,2022-11-09
7,울산시청자미디어센터,DJ수다박스,정혜영,2022-11-07,2022-11-07,라디오프로그램을 만들어 보는 체험,초등학생,오프라인,월,25,2022-11-09
8,울산시청자미디어센터,생방송톡톡TV,박민주,2022-11-08,2022-11-08,매거진프로그램을 만들어보는 체험,초등학생,오프라인,화,25,2022-11-09
9,울산시청자미디어센터,DJ수다박스,김은희,2022-11-08,2022-11-08,라디오프로그램을 만들어 보는 체험,초등학생,오프라인,화,25,2022-11-09
10,울산시청자미디어센터,생방송톡톡TV,장미경,2022-11-09,2022-11-09,매거진프로그램을 만들어보는 체험,초등학생,오프라인,수,25,2022-11-09
11,울산시청자미디어센터,DJ수다박스,김현주,2022-11-09,2022-11-09,라디오프로그램을 만들어 보는 체험,초등학생,오프라인,수,25,2022-11-09
12,울산시청자미디어센터,생방송톡톡TV,김현주,2022-11-10,2022-11-10,매거진프로그램을 만들어보는 체험,초등학생,오프라인,목,25,2022-11-09
13,울산시청자미디어센터,DJ수다박스,김은희,2022-11-10,2022-11-10,라디오프로그램을 만들어 보는 체험,초등학생,오프라인,목,25,2022-11-09
14,울산시청자미디어센터,생방송톡톡TV,김은희,2022-11-11,2022-11-11,매거진프로그램을 만들어보는 체험,초등학생,오프라인,금,25,2022-11-09
15,울산시청자미디어센터,DJ수다박스,도현아,2022-11-11,2022-11-11,라디오프로그램을 만들어 보는 체험,초등학생,오프라인,금,25,2022-11-09
16,울산시청자미디어센터,DJ수다박스,곽은민,2022-11-12,2022-11-12,라디오프로그램을 만들어 보는 체험,초등학생,오프라인,토,25,2022-11-09
17,울산시청자미디어센터,초록세상마법학교,도현아,2022-11-14,2022-11-14,크로마키를 활용한 영상 합성 체험,미취학,오프라인,월,25,2022-11-09
18,울산시청자미디어센터,오늘은NEWS데이,김은희,2022-11-17,2022-11-17,뉴스프로그램을 만들어보는 체험,초등학생,오프라인,목,25,2022-11-09
19,울산시청자미디어센터,찰칵애니,장미경,2022-11-17,2022-11-17,스톱모션을 통해 영상을 만들어보는 체험,초등학생,오프라인,목,25,2022-11-09
20,울산시청자미디어센터,DJ수다박스,정혜영,2022-11-17,2022-11-17,라디오프로그램을 만들어 보는 체험,초등학생,오프라인,목,25,2022-11-09
21,울산시청자미디어센터,오늘은NEWS데이,전윤겸,2022-11-18,2022-11-18,뉴스프로그램을 만들어보는 체험,초등학생,오프라인,금,25,2022-11-09
22,울산시청자미디어센터,찰칵애니,박민주,2022-11-18,2022-11-18,스톱모션을 통해 영상을 만들어보는 체험,초등학생,오프라인,금,25,2022-11-09
23,울산시청자미디어센터,DJ수다박스,김현주,2022-11-18,2022-11-18,라디오프로그램을 만들어 보는 체험,초등학생,오프라인,금,25,2022-11-09
24,울산시청자미디어센터,미고의 미디어 탐방기,전윤겸,2022-11-23,2022-11-23,유아미디어리터러시체험,미취학,오프라인,수,25,2022-11-09
25,울산시청자미디어센터,미고의 미디어 탐방기,정혜영,2022-11-24,2022-11-24,유아미디어리터러시체험,미취학,오프라인,목,25,2022-11-09
26,울산시청자미디어센터,우리반데이터만들기,전윤겸,2022-11-25,2022-11-25,빅데이터와 광고의 상관관계에 대해 알아보는 체험,중학생,오프라인,금,25,2022-11-09
27,울산시청자미디어센터,알듯말듯 알고리즘 알려줄게 알고리즘,도현아,2022-11-25,2022-11-25,유튜브 알고리즘에 대해 알아보는 체험,중학생,오프라인,금,25,2022-11-09
28,울산시청자미디어센터,찰칵애니,박민주,2022-11-25,2022-11-25,스톱모션을 통해 영상을 만들어보는 체험,중학생,오프라인,금,25,2022-11-09
29,울산시청자미디어센터,미고의 미디어 탐방기,김윤아,2022-11-25,2022-11-25,유아미디어리터러시체험,미취학,오프라인,금,25,2022-11-09
30,강원시청자미디어센터,무지개TV,"[손영주, 윤기숙, 정선애, 이나미]",2022-11-01,2022-11-30,크로마키 합성을 이용한 유아 놀이 체험,"유아,아동",오프라인,"월,화,수,목,금,토",20,2022-11-09
31,강원시청자미디어센터,꼼지락뉴스,"[손영주, 윤기숙, 정선애, 이나미]",2022-11-01,2022-11-30,뉴스에 나오는 다양한 역할을 경험해보는 뉴스제작체험,초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09
32,강원시청자미디어센터,폴리체험,"[윤기숙, 정선애]",2022-11-01,2022-11-30,도구를 이용하여 폴리 효과음을 제작해보는 체험,초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09
33,강원시청자미디어센터,VR체험,"[장정우, 최영은]",2022-11-01,2022-11-30,360도 카메라를 이용하여 직접 촬영한 영상을 VR기기를 통해 확인해보는 체험,초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09
34,대전시청자미디어센터,나눔버스_천안시청 교육청소년과,"[김선희, 기타]",2022-11-12,2022-11-12,티비체험,중고등학생,오프라인,토,50,2022-11-09
35,대전시청자미디어센터,센터_대전광역시노인복지관,"[김수현, 기타]",2022-11-16,2022-11-16,라디오체험,노인(65세~),오프라인,수,10,2022-11-09
36,대전시청자미디어센터,센터_대전광역시노인복지관,"[김수현, 기타]",2022-11-23,2022-11-23,라디오체험,노인(65세~),오프라인,수,10,2022-11-09
37,대전시청자미디어센터,센터_청소년정책연구원,"[김은수, 기타]",2022-11-26,2022-11-26,체험프로그램 운영(미정),중고등학생,오프라인,토,40,2022-11-09
38,광주시청자미디어센터,미디어체험,기타,2022-11-07,2022-12-31,TV 및 라디오,모든연령,오프라인,"월,화,수,목,금,토",20,2022-11-09
39,광주시청자미디어센터,온라인미디어체험(ZOOM),기타,2022-11-07,2022-12-31,"미디어 진로, 스톡모션 체험",모든연령,오프라인,"월,화,수,목,금,토",20,2022-11-09
40,광주시청자미디어센터,드림러너,기타,2022-11-07,2022-12-31,라디오체험,고등학생,오프라인,"월,화,수,목,금,토",20,2022-11-09
41,부산시청자미디어센터,상설미디어체험,김은미,2022-11-01,2022-11-01,"TV, 라디오, 스마트 등 매체별 미디어체험 프로그램",지역주민,오프라인,화,20,2022-11-09
42,부산시청자미디어센터,상설미디어체험,김은미,2022-11-02,2022-11-02,"TV, 라디오, 스마트 등 매체별 미디어체험 프로그램",지역주민,오프라인,수,20,2022-11-09
43,부산시청자미디어센터,상설미디어체험,김은미,2022-11-03,2022-11-03,"TV, 라디오, 스마트 등 매체별 미디어체험 프로그램",지역주민,오프라인,목,20,2022-11-09
44,부산시청자미디어센터,상설미디어체험,김은미,2022-11-04,2022-11-04,"TV, 라디오, 스마트 등 매체별 미디어체험 프로그램",지역주민,오프라인,금,20,2022-11-09
45,부산시청자미디어센터,상설미디어체험,김은미,2022-11-05,2022-11-05,"TV, 라디오, 스마트 등 매체별 미디어체험 프로그램",지역주민,오프라인,토,20,2022-11-09
46,부산시청자미디어센터,상설미디어체험,김은미,2022-11-07,2022-11-07,"TV, 라디오, 스마트 등 매체별 미디어체험 프로그램",지역주민,오프라인,월,20,2022-11-09
47,부산시청자미디어센터,상설미디어체험,김은미,2022-11-08,2022-11-08,"TV, 라디오, 스마트 등 매체별 미디어체험 프로그램",지역주민,오프라인,화,20,2022-11-09
48,부산시청자미디어센터,상설미디어체험,김은미,2022-11-09,2022-11-09,"TV, 라디오, 스마트 등 매체별 미디어체험 프로그램",지역주민,오프라인,수,20,2022-11-09
49,부산시청자미디어센터,상설미디어체험,김은미,2022-11-10,2022-11-10,"TV, 라디오, 스마트 등 매체별 미디어체험 프로그램",지역주민,오프라인,목,20,2022-11-09

In [252]:
df['교육시작일자'].apply(lambda x: x.split('-')[-1]) # str임

0     12
1     21
2     22
3     23
4     25
      ..
94    30
95    01
96    01
97    01
98    01
Name: 교육시작일자, Length: 99, dtype: object

In [255]:
df['교육시작일자'].apply(lambda x: int(x.split('-')[-1])) # int형으로 변환

0     12
1     21
2     22
3     23
4     25
      ..
94    30
95     1
96     1
97     1
98     1
Name: 교육시작일자, Length: 99, dtype: int64

In [256]:
df['교육시작일자'] = df['교육시작일자'].apply(lambda x: int(x.split('-')[-1]))
df['교육종료일자'] = df['교육종료일자'].apply(lambda x: int(x.split('-')[-1]))

In [257]:
df

,센터명,강좌명,강사명,교육시작일자,교육종료일자,강좌내용,교육대상구분,교육방법구분,운영요일,강좌정원수,데이터기준일자
0,서울시청자미디어센터,상설미디어체험 교육,"[이수현, 김민호]",12,26,상설미디어체험(뉴스앵커체험 등),일반,오프라인,토,25,2022-11-09
1,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"[김도경, 이수현]",21,21,찾아가는미디어나눔버스 체험,청소년,오프라인,월,25,2022-11-09
2,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"[김도경, 이수현]",22,22,찾아가는미디어나눔버스 체험,청소년,오프라인,화,25,2022-11-09
3,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"[김도경, 이수현]",23,23,찾아가는미디어나눔버스 체험,청소년,오프라인,수,25,2022-11-09
4,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"[김도경, 이수현]",25,25,찾아가는미디어나눔버스 체험,청소년,오프라인,금,25,2022-11-09
...,...,...,...,...,...,...,...,...,...,...,...
94,인천시청자미디어센터,찾아가는 미디어나눔버스(TV뉴스체험),"[류은애, 김은자]",30,30,TV 뉴스 제작 및 영상합성 크로마키 체험,중학생,오프라인,수,25,2022-11-09
95,충북시청자미디어센터,TV체험(뉴스체험),기타,1,30,"아나운서, 기자, 기상캐스터 등 역할을 나누어 뉴스 제작 과정을 체험해보는 프로그램",초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09
96,충북시청자미디어센터,라디오체험(DJ체험),기타,1,30,"라디오 프로그램을 작가, DJ, 게스트가 되어 라디오 프로그램을 제작해보는 체험",초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09
97,충북시청자미디어센터,유아 크로마키 체험,기타,1,30,유아 대상 크로마키를 통해 다양한 놀이를 해보는 체험,6~7세,오프라인,"월,화,수,목,금,토",15,2022-11-09
98,충북시청자미디어센터,AI 체험,기타,1,30,인공지능에 대해 이해하고 머신러닝을 여러 방법으로 알아보는 체험,초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09

In [258]:
df['교육종료일자'] - df['교육시작일자']

0     14
1      0
2      0
3      0
4      0
      ..
94     0
95    29
96    29
97    29
98    29
Length: 99, dtype: int64

In [259]:
df['교육기간'] = df['교육종료일자'] - df['교육시작일자'] + 1

In [260]:
df

,센터명,강좌명,강사명,교육시작일자,교육종료일자,강좌내용,교육대상구분,교육방법구분,운영요일,강좌정원수,데이터기준일자,교육기간
0,서울시청자미디어센터,상설미디어체험 교육,"[이수현, 김민호]",12,26,상설미디어체험(뉴스앵커체험 등),일반,오프라인,토,25,2022-11-09,15
1,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"[김도경, 이수현]",21,21,찾아가는미디어나눔버스 체험,청소년,오프라인,월,25,2022-11-09,1
2,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"[김도경, 이수현]",22,22,찾아가는미디어나눔버스 체험,청소년,오프라인,화,25,2022-11-09,1
3,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"[김도경, 이수현]",23,23,찾아가는미디어나눔버스 체험,청소년,오프라인,수,25,2022-11-09,1
4,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"[김도경, 이수현]",25,25,찾아가는미디어나눔버스 체험,청소년,오프라인,금,25,2022-11-09,1
...,...,...,...,...,...,...,...,...,...,...,...,...
94,인천시청자미디어센터,찾아가는 미디어나눔버스(TV뉴스체험),"[류은애, 김은자]",30,30,TV 뉴스 제작 및 영상합성 크로마키 체험,중학생,오프라인,수,25,2022-11-09,1
95,충북시청자미디어센터,TV체험(뉴스체험),기타,1,30,"아나운서, 기자, 기상캐스터 등 역할을 나누어 뉴스 제작 과정을 체험해보는 프로그램",초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09,30
96,충북시청자미디어센터,라디오체험(DJ체험),기타,1,30,"라디오 프로그램을 작가, DJ, 게스트가 되어 라디오 프로그램을 제작해보는 체험",초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09,30
97,충북시청자미디어센터,유아 크로마키 체험,기타,1,30,유아 대상 크로마키를 통해 다양한 놀이를 해보는 체험,6~7세,오프라인,"월,화,수,목,금,토",15,2022-11-09,30
98,충북시청자미디어센터,AI 체험,기타,1,30,인공지능에 대해 이해하고 머신러닝을 여러 방법으로 알아보는 체험,초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09,30

In [261]:
df['교육대상구분'].unique() # 겹치거나 다른말로 불리는 같은 부분을 통합해줄 수 있음

array(['일반', '청소년', '유아', '초등학생', '미취학', '중학생', '유아,아동', '초등학생 이상',
       '중고등학생', '노인(65세~)', '모든연령', '고등학생', '지역주민', '고등학생,장애인', '성인',
       '대학생', '성인,장애인', '중학생,장애인', '6~7세'], dtype=object)

어느 센터에서
어떤 강좌를
누가
얼마나
누구한테

In [262]:
df[['센터명', '강좌명', '강사명', '교육기간', '교육대상구분']]

           센터명                   강좌명         강사명  교육기간   교육대상구분
0   서울시청자미디어센터            상설미디어체험 교육  [이수현, 김민호]    15       일반
1   서울시청자미디어센터        찾아가는미디어나눔버스 체험  [김도경, 이수현]     1      청소년
2   서울시청자미디어센터        찾아가는미디어나눔버스 체험  [김도경, 이수현]     1      청소년
3   서울시청자미디어센터        찾아가는미디어나눔버스 체험  [김도경, 이수현]     1      청소년
4   서울시청자미디어센터        찾아가는미디어나눔버스 체험  [김도경, 이수현]     1      청소년
..         ...                   ...         ...   ...      ...
94  인천시청자미디어센터  찾아가는 미디어나눔버스(TV뉴스체험)  [류은애, 김은자]     1      중학생
95  충북시청자미디어센터            TV체험(뉴스체험)          기타    30  초등학생 이상
96  충북시청자미디어센터           라디오체험(DJ체험)          기타    30  초등학생 이상
97  충북시청자미디어센터            유아 크로마키 체험          기타    30     6~7세
98  충북시청자미디어센터                 AI 체험          기타    30  초등학생 이상

[99 rows x 5 columns]

# 분석이 불가하거나 어려운 형태를 가능한 형태로 변환할 수 있다.
* 단위 변환
* (문자열의 경우) 파싱
* 형태 변환
* 여러 의미를 가진 데이터의 경우 분리 저장

# 분석이 불가한 데이터를 저차원, 저용량으로 축소
* 차원 축소
* 유효 숫자 변경
* 데이터 용량 축소
* 수량 감소
    * 패러미터만 남기고 삭제
    * 선형 회귀
    * 히스토그램
    * 클러스터링
    * 샘플링

# 연속형 데이터를 범주형 데이터로 변경
* 기계학습 등에서 주효하게 사용
* 숫자가 크게 높거나 비슷한 값의 연관성 제거
* 컴퓨터가 판단할 수 없다는 특성에 근거

# 분석 불가능하거나 크게 영향을 주는 데이터 처리
* 결측치 처리
    * 제로필
    * 평균값
    * 중간값
    * 기계학습을 통한 대체

* 이상치 처리
    * 제거
    * 대체
    * 기계학습을 통한 대체

# 데이터의 분포에 따른 특성 제거 또는 통계를 위한 변환
* 표준화(정규 분포 형태로 변환)
    * 데이터베이스의 정규화 개념과 구분
    * 데이터의 범위 차이가 달라짐
    * 데이터 범위의 제한 없음
    * Z-score 등

* 정규화(0-1 범위로 변화 등)
    * 데이터의 범위 차이가 유지됨
    * 데이터 범위의 제한이 생김
    * min-max scaling 등